<div class="sg-ms-fonts">
{{#fonts}}
  <ol class="sg-ms" style="font-family: {{value}}; {{{style}}}">
    {{# listItems.twelve}}
      <li>{{headline.short}}</li>
    {{/ listItems.twelve}}
  </ol>
{{/fonts}}
</div>
