@mixin button-logo--base($background-color: color(black), $foreground-color: color(white)) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: currentColor;
  color: $background-color;
  font-size: fontsize-rem(ms(4));
  font-family: font(surveyor);
  line-height: 1.2;
  width: 100%;
  height: 330px;
  position: relative;
  //transform:  rotate(-10deg); // @todo debug: rotation transforms break multiple text shadows on ios
  //transform: scale(0.7);
  //transform-origin: 0 0;
  transition-property: border-radius, width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  //
  @include breakpoint($bp-typography-narrow) {
    border-radius: 50%;
    width: 330px;
  }
  @include breakpoint($bp--title-curve--shrink) {
    font-size: fontsize-rem(ms(3));
  }
  &.rectangle {
    width: auto;
    border-radius: 0;
  }
}

@mixin button-logo-image($background-image, $background-color: #BBBBBB, $background-blend: multiply, $word-color: black) {
  background-color: $background-color;
  background-blend-mode: $background-blend;
  background-image: url($background-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .button-logo--word {
    color: $word-color;
    mix-blend-mode: screen;
  }
}
