@mixin btn(
  $theme: null,
  $bg-color: color(blue),
  $text-color: color(white),
  $text-color-hover: color(gray, light),
  $font-size: ms(1),
  $font-weight: 600,
  $right-arrow: false) {
  @if $theme == cta-standard {
    $font-size: ms(2);
    $right-arrow: true;
  }
  @if $theme == cta-primary {
    $bg-color: color(yellow);
    $text-color: color(blue, light);
    $text-color-hover: color(blue);
    $font-size: ms(4);
    $font-weight: 800;
    $right-arrow: true;
  }
  @include unset-background-links();
  @include set-link-colors($link-normal: $text-color, $link-hover: $text-color-hover, $link-active: $text-color-hover, $link-visited: $text-color, $link-focus: $text-color-hover);
  @include background-gradient($bg-color);
  font-size: fontsize-rem($font-size);
  display: inline-block;
  padding: 0.5em;
  background-color: $bg-color;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: $font-weight;
  line-height: 1;
  letter-spacing: 0.6px;
  @content;
  a {
    @include unset-background-links();
    @include set-link-colors($link-normal: $text-color, $link-hover: $text-color-hover, $link-active: $text-color-hover, $link-visited: $text-color, $link-focus: $text-color-hover);
  }
  @if ($right-arrow == false) {
    border-radius: $border-radius;
  }
  @if ($right-arrow) {
    position: relative;
    padding-right: 1.75em;
    border-radius: 0;
    &:after {
      $right-arrow-color: change-color($bg-color, $saturation: 100%, $lightness: 85%, $alpha: 0.5);
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      border-width: 0.5em 0 0.5em 0.75em;
      border-style: solid;
      border-color: transparent transparent transparent $right-arrow-color;
      top: 50%;
      right: 0.5em;
      transform: translateY(-50%);
      mix-blend-mode: screen;
    }
  }
}


@mixin form-btn() {
  @include btn();
}
@mixin cta() {
  @include btn(cta-standard);
}
@mixin cta-big() {
  @include btn(cta-primary);
  [class^='line-'] {
    display: block;
  }
}
@mixin widen-cta() {
  display: flex;
  justify-content: flex-end;
}
