@mixin defaults--field() {
  padding: 0 0.5em;
  border: 1px solid color(gray, mid);
  //border-radius: $border-radius;
  width: 100%;
  line-height: 40px;
}

@mixin field--small() {
  @include fontsize-rem(ms(0));
  line-height: 19px;
  height: 32px;
}

@mixin defaults--form-group-margin() {
  margin-top: 1em;
}

@mixin field-limit-width() {
  width: 100%;
  max-width: 25em;
}

@mixin defaults--field--checkboxes-radios() {
  width: inherit;
  margin-right: 0.5em;
  float: left;
}

@mixin defaults--field--checkboxes-radios--wrappers() {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  label {
    margin-top: 0;
  }
  .description {
    width: 100%;
  }
}
