@mixin nav-primary--item {
  font-family: font(surveyor);
  font-weight: 200;
  font-size: fontsize-rem(ms(0));
  text-transform: uppercase;
  letter-spacing: 0.5em;
  @include breakpoint($bp--navigation--wide) {
    font-size: fontsize-rem(ms(1));
  }
}
