////
/// @group Rotate
////


/// Rotate a line of text in an arc
/// @param {integer} $num-letters [100] - how many characters
/// @param {degrees} $angle-span [180deg] - how far around the circle to rotate
/// @param {degrees} $angle-offset [0deg] - where to start the circle
/// @param {deg} $angle-per-char [$angle-span / $num-letters] - how far apart to space the characters
@mixin rotate-line-of-text(
  $num-letters: 100,
  $angle-span: 180deg,
  $angle-offset: 0deg,
  $angle-per-char: $angle-span / $num-letters) {
  @for $i from 1 through $num-letters {
    .char#{$i} {
      transform: rotate($angle-offset + $angle-per-char * $i);
    }
  }
}
