<div class="button-logo rectangle">
  <div class="title-curve">The Coding Designer</div>
  <div class="button-logo--words-wrapper">
    <div class="button-logo--word word-1">Mason</div>
    <div class="button-logo--word word-2">Wendell</div>
  </div>
</div>
