<div class="name-logo-shadow">
  <div class="logo-curve">The Coding Designer</div>
  <div class="name-shadow">
    <div class="name-shadow--word word-1">Mason</div>
    <div class="name-shadow--word word-2">Wendell</div>
  </div>
</div>
