<div class="button-logo">
  <div class="button-logo--words-wrapper">
    <div class="button-logo--word word-0">The</div>
    <div class="button-logo--word word-1">Coding</div>
    <div class="button-logo--word word-2">Designer</div>
  </div>
</div>
