<div class="favicon size-16">
  <div class="favicons--initial word-1">M</div>
  <div class="favicons--initial word-2">W</div>
</div>

<div class="favicon size-32">
  <div class="favicons--initial word-1">M</div>
  <div class="favicons--initial word-2">W</div>
</div>

<div class="favicon size-64">
  <div class="favicons--initial word-1">M</div>
  <div class="favicons--initial word-2">W</div>
</div>
<div class="favicon size-128">
  <div class="favicons--initial word-1">M</div>
  <div class="favicons--initial word-2">W</div>
</div>
