&lt;p&gt;fluff traffic finishes flowers truffles establish&lt;/p&gt;


&lt;h2&gt;Normal&lt;/h2&gt;
&lt;table style=&quot;font-style: normal&quot; summary=&quot;Serif table&quot;&gt;
  &lt;thead&gt;
  &lt;tr&gt;&lt;th scope=&quot;col&quot;&gt;Character&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;Ligature&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;Numeric reference&lt;/th&gt;&lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;ff&lt;/td&gt;&lt;td&gt;&fflig;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#64256;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;fi&lt;/td&gt;&lt;td&gt;&filig;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#64257;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;fl&lt;/td&gt;&lt;td&gt;&fllig;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#64258;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;ffi&lt;/td&gt;&lt;td&gt;&ffilig;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#64259&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;ffl&lt;/td&gt;&lt;td&gt;&ffllig;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#64260;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;long s t&lt;/td&gt;&lt;td&gt;ﬅ&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#64261;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;st&lt;/td&gt;&lt;td&gt;ﬆ&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#64262;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;

&lt;h2&gt;Italic&lt;/h2&gt;
&lt;table style=&quot;font-style: italic&quot; summary=&quot;Sans table&quot;&gt;
  &lt;thead&gt;
  &lt;tr&gt;&lt;th scope=&quot;col&quot;&gt;Character&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;Ligature&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;Numeric reference&lt;/th&gt;&lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;ff&lt;/td&gt;&lt;td&gt;&fflig;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#64256;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;fi&lt;/td&gt;&lt;td&gt;&filig;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#64257;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;fl&lt;/td&gt;&lt;td&gt;&fllig;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#64258;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;ffi&lt;/td&gt;&lt;td&gt;&ffilig;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#64259&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;ffl&lt;/td&gt;&lt;td&gt;&ffllig;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#64260;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;long s t&lt;/td&gt;&lt;td&gt;ﬅ&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#64261;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;st&lt;/td&gt;&lt;td&gt;ﬆ&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#64262;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;

&lt;h2&gt;Other Characters&lt;/h2&gt;
&lt;table summary=&quot;Serif table&quot;&gt;
  &lt;thead&gt;
  &lt;tr&gt;&lt;th scope=&quot;col&quot;&gt;Character&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;Ligature&lt;/th&gt;&lt;th scope=&quot;col&quot;&gt;Numeric reference&lt;/th&gt;&lt;/tr&gt;
  &lt;/thead&gt;
  &lt;tbody&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;Small sharp s, German (sz ligature)&lt;/td&gt;&lt;td&gt;&szlig;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#223;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;Capital thorn, Icelandic&lt;/td&gt;&lt;td&gt;&THORN;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#222;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;Small thorn, Icelandic&lt;/td&gt;&lt;td&gt;&thorn;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#254;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;Latin capital letter AE&lt;/td&gt;&lt;td&gt;&AElig;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#198;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;Latin small letter ae&lt;/td&gt;&lt;td&gt;&aelig;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#230;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;Capital IJ ligature&lt;/td&gt;&lt;td&gt;&IJlig;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#306;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;Lowercase ij ligature&lt;/td&gt;&lt;td&gt;&ijlig;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#307;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;Latin capital ligature OE&lt;/td&gt;&lt;td&gt;&OElig;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#338;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;Latin small ligature (misnomer) oe&lt;/td&gt;&lt;td&gt;&oelig;&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#339;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;Capital NJ ligature&lt;/td&gt;&lt;td&gt;Ǌ&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#458;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;Leading capital Nj ligature&lt;/td&gt;&lt;td&gt;ǋ&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#459;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;Lowercase nj ligature&lt;/td&gt;&lt;td&gt;ǌ&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#460;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;Capital DZ ligature&lt;/td&gt;&lt;td&gt;Ǳ&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#497;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;Leading capital Dz ligature&lt;/td&gt;&lt;td&gt;ǲ&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#498;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;tr&gt;&lt;td class=&quot;definition&quot;&gt;Lowercase dz ligature&lt;/td&gt;&lt;td&gt;ǳ&lt;/td&gt;&lt;td&gt;&lt;code&gt;&amp;amp;#499;&lt;/code&gt;&lt;/td&gt;&lt;/tr&gt;
  &lt;/tbody&gt;
&lt;/table&gt;
