&lt;h1&gt;{{headline.short}} H1&lt;/h1&gt;
&lt;h2&gt;{{headline.short}} H2&lt;/h2&gt;
&lt;h3&gt;{{headline.short}} H3&lt;/h3&gt;
&lt;h4&gt;{{headline.short}} H4&lt;/h4&gt;
&lt;h5&gt;{{headline.short}} H5&lt;/h5&gt;
&lt;h6&gt;{{headline.short}} H6&lt;/h6&gt;
