<img src="../../../../src/images/score_favicon.ico" />
<img src="../../../../src/images/score_favicon.png" />
<img src="../../../../src/images/score_favicon@2x.png" />
<img src="../../../../src/images/score_favicon@2x.svg" width="32px" height="32px"/>
