$button-logo-background-color: color(black);
$button-logo-foreground-color: color(white);

.button-logo {
  @include button-logo--base();
  //@include button-logo-image('https://unsplash.it/400/400?random');
  //@include button-logo-image('https://unsplash.it/400/400?image=961');
  //@include button-logo-image('../src/images/headers/aligator-skull.jpg');
  //@include button-logo-image('../src/images/headers/antler-skull.jpg');
  //@include button-logo-image('../src/images/headers/moon-landing.jpg', $background-color: #EFE07A);
  //@include button-logo-image('../src/images/headers/rockies-1.jpg');
  //@include button-logo-image('../src/images/headers/rockies-2.jpg');
  //@include button-logo-image('../src/images/headers/roofs.jpg');
  //@include button-logo-image('../src/images/headers/sc-sky.jpg');
  //@include button-logo-image('../src/images/headers/snake-skeleton.jpg');
  //@include button-logo-image('../src/images/headers/train-kiss.jpg');
  @include button-logo-image('../src/images/headers/space-helmet.jpg');
}

.button-logo--words-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  left: -8px;
  top: 5px;
  @include breakpoint($bp--title-curve--shrink) {
    left: -16px;
  }
}

.button-logo--word {
  font-style: italic;
  font-weight: 800;
  text-shadow: long-shadow(
    $direction: 30deg,
    $length: 0.3em,
    $color: $button-logo-foreground-color,
    $fade: $button-logo-foreground-color
  );
  //mix-blend-mode: screen;
  //transform: rotate(-10deg) translateY(-0.25em) translateX(-0.125em); // @todo debug: rotation transforms break multiple text shadows on ios
  //transform: rotate(10deg) ;
  &.word-0 {
    font-weight: 200;
    font-size: fontsize-rem(ms(1));
    text-shadow: none;
    color: $button-logo-foreground-color;
    align-self: center;
    //transform: rotate(-10deg) translateY(10px) translateX(-5px); // @todo debug: rotation transforms break multiple text shadows on ios
    transform: translateY(10px);
  }
}

.title-curve {
  font-family: font(archer);
  font-weight: 700;
  font-size: fontsize-rem(ms(0));
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  color: $button-logo-foreground-color;
  transform: translateX(-50%) translateY(-50%);
  width: 0;
  height: 0;
  .rectangle & {
    left: auto;
    right: 10em;
  }
  @include breakpoint($bp-typography-narrow) {
    font-size: fontsize-rem(ms(1));
  }
  @include rotate-line-of-text(
    $num-letters: 19,
    $angle-span: 180deg,
    $angle-offset: -140deg
  );
  [class^='char'] {
    //outline: 1px solid red;
    position: absolute;
    $height-small: 6em;
    $height: 7em;
    $width: 1em;
    height: $height;
    left: -#{$width / 2};
    top: -$height;
    width: $width;
    text-align: center;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: rgba(color(white), 0.15);
    transform-origin: 50% 100%;
    @include breakpoint($bp--title-curve--shrink) {
      height: $height-small;
      top: -$height-small;
    }
  }
}
