.my-name {
  font-weight: 200;
  font-style: normal;
  @include try-all();
  .no-break {
    @include breakpoint(max-width 366px) {
      display: block;
      white-space: normal;
    }
  }
}

.intro-name {
  display: inline-block;
  border-width: 0 0 1px;
  border-style: dashed;
  border-color: color(black);
  width: initial;
  min-width: 12.5em;
  max-width: 100%;
  font-weight: 800;
  padding-left: 3px;
  padding-right: 3px;
}
