img {
  @include image-auto-size();
}

svg {
  @include image-auto-size();
}

.feature-image {
  margin-bottom: $base-line-em;
  width: 100%;
  padding-bottom: 0.5rem;
  //border-bottom: 1px solid color(black);
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  @include breakpoint(768px) {
    float: right;
    margin-left: 2rem;
    width: 40%;
  }
  @include breakpoint(1024px) {
    width: 50%;
  }
}
