.intro {
  margin-bottom: 6em;
  display: flex;
  flex-wrap: wrap;
  @include breakpoint($bp--page-speaking-3) {
    justify-content: space-between;
  }
}

.intro--text {
  max-width: 100%;
  @include breakpoint($bp--page-speaking-3) {
    flex-basis: calc(#{phi-a(100%)} - 1.5em);
  }
  .page--speaking & {
    background-image: url('../src/images/speaking/sass-conf--speaker-panel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    background-color: #0F0F0F;
    color: color(white);
    padding: 0.5em 0.5em 34em;
    margin-bottom: 1.5em;
    // @todo refactor to use eq.js
    @include breakpoint($bp--page-speaking-1) {
      padding-bottom: 25em;
    }
    @include breakpoint($bp--page-speaking-2) {
      padding-bottom: 18em;
    }
    @include breakpoint($bp--page-speaking-3) {
      padding-bottom: 25em;
    }
    @include breakpoint($bp--page-speaking-4) {
      padding-bottom: 20em;
    }
    @include breakpoint($bp--page-speaking-5) {
      padding-bottom: 18em;
    }
    .intro-graphs-caption {
      position: relative;
      font-style: italic;
      top: 34em;
      @include breakpoint($bp--page-speaking-1) {
        top: 25em;
      }
      @include breakpoint($bp--page-speaking-2) {
        top: 18em;
      }
      @include breakpoint($bp--page-speaking-3) {
        top: 25em;
      }
      @include breakpoint($bp--page-speaking-4) {
        top: 20em;
      }
      @include breakpoint($bp--page-speaking-5) {
        top: 18em;
      }
    }
  }
}

.intro-image {
  max-width: 100%;
  margin-bottom: 2em;
  @include breakpoint($bp--page-speaking-3) {
    flex-basis: calc(#{phi-b(100%)} - 1.5em);
  }
  img {
    border: 1px solid color(black);
  }
}

