.site-name {
  font-style: italic;
  line-height: 0.9;
  font-weight: 800;
  position: relative;
  z-index: 2;
  //color: color(red);
  [class|="word"] {
    //    @include debug();
    display: block;
    text-shadow: 2px 2px 0px white, -2px -2px 0px white;
    position: relative;
    //&:before {
    //  content: attr(data-dupe-text);
    //  position: absolute;
    //  color: teal;
    //  top: -2px;
    //  left: 4px;
    //  mix-blend-mode: multiply;
    //  //mix-blend-mode: screen;
    //}
    //&:after {
    //  content: attr(data-dupe-text);
    //  position: absolute;
    //  color: rgba(gold, 1);
    //  top: 3px;
    //  left: 3px;
    //  mix-blend-mode: hard-light;
    //  //mix-blend-mode: multiply;
    //  //@include try-blend-modes();
    //}
  }
  .word-1 {
    float: left;
    font-size: 0.5em;
    transform: translateX(39px) translateY(-8px);
    position: absolute;
    font-weight: 100;
  }
  .word-2 {
    //    -webkit-transform: translateX(4px) translateY(3px);
    //    position: relative;
    //text-transform: none;
    //font-style: normal;
  }
}

.site-subtitle {
  font-style: italic;
  font-weight: 100;
  font-variant: small-caps;
  margin-top: -19px;
  //  margin-left: 166px;
  border-top: 4px solid black;
  display: inline-block;
  line-height: 1;
  //  margin-left: 20px;
  padding-left: 1em;
  padding-right: 1em;
  position: relative;
  z-index: 1;
  -webkit-transform: rotate(-5deg);
  -webkit-transform-origin: 24% 50%;
  span {
    display: block;
    -webkit-transform: rotate(5deg);
    -webkit-transform-origin: 8% 50%;
  }
}
