$background-color: color(black) ;
$foreground-color: color(white);
.logo-shadow,
.name-logo-shadow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: $background-color;
  //background-image: url(https://unsplash.it/400/400?image=961);
  background-image: url(https://unsplash.it/400/400?random);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $background-color;
  font-size: fontsize-rem(ms(5));
  font-family: font(surveyor);
  line-height: 1.2;
  width: 6em;
  height: 6em;
  /*padding: 2em;*/
  border-radius: 50%;
  position: relative;
  //transform:  rotate(-10deg);
}

.logo-shadow--word {
  $vertical-adjust: 50px;
  font-style: italic;
  font-weight: 800;
  text-shadow: 1px 1px 0 $foreground-color, 2px 2px 0 $foreground-color, 3px 3px 0 $foreground-color, 4px 4px 0 $foreground-color, 5px 5px 0 $foreground-color, 6px 6px 0 $foreground-color, 7px 7px 0 $foreground-color, 8px 8px 0 $foreground-color, 9px 9px 0 $foreground-color, 10px 10px 0 $foreground-color, 11px 11px 0 $foreground-color, 12px 12px 0 $foreground-color, 13px 13px 0 $foreground-color, 14px 14px 0 $foreground-color, 15px 15px 0 $foreground-color, 16px 16px 0 $foreground-color;
  text-align: center;
  transform: rotate(-10deg) translateY(-0.25em) translateX(-0.125em);
  mix-blend-mode: screen;
  &.word-0 {
    font-weight: 200;
    font-size: fontsize-rem(ms(1));
    text-shadow: none;
    color: $foreground-color;
    align-self: center;
    transform: rotate(-10deg) translateY(10px) translateX(-5px);
  }
}

@mixin rotate-line-of-text(
  $num-letters: 100,
  $angle-span: 180deg,
  $angle-offset: 0deg,
  $angle-per-char: $angle-span / $num-letters) {
  @for $i from 1 through $num-letters {
    .char#{$i} {
      transform: rotate($angle-offset + $angle-per-char * $i);
    }
  }

  //@for $i from 1 through $num-letters
  //.char#{$i}
  //+transform(rotate($angle-offset + $angle-per-char * $i))
}

.logo-curve {
  font-family: font(archer);
  font-weight: 700;
  font-size: fontsize-rem(ms(1));
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  color: $foreground-color;
  transform: translateX(-50%) translateY(-50%);
  width: 0;
  height: 0;
  @include rotate-line-of-text(
    $num-letters: 19,
    $angle-span: 180deg,
    $angle-offset: -140deg
  );
  [class^='char'] {
    //outline: 1px solid red;
    position: absolute;
    $height: 7em;
    $width: 1em;
    height: $height;
    left: -#{$width / 2};
    top: -$height;
    transform-origin: 50% 100%;
    width: $width;
    text-align: center;
    border-width: 0 0 0 1px;
    border-style: solid;
    border-color: rgba(color(white), 0.15);
  }
}



.name-shadow {
  font-style: italic;
  font-weight: 800;
  text-shadow: 1px 1px 0 $foreground-color, 2px 2px 0 $foreground-color, 3px 3px 0 $foreground-color, 4px 4px 0 $foreground-color, 5px 5px 0 $foreground-color, 6px 6px 0 $foreground-color, 7px 7px 0 $foreground-color, 8px 8px 0 $foreground-color, 9px 9px 0 $foreground-color, 10px 10px 0 $foreground-color, 11px 11px 0 $foreground-color, 12px 12px 0 $foreground-color, 13px 13px 0 $foreground-color, 14px 14px 0 $foreground-color, 15px 15px 0 $foreground-color, 16px 16px 0 $foreground-color;
  $vertical-adjust: 50px;
  text-align: center;
  transform: rotate(-10deg) translateY(-0.25em) translateX(-0.125em);
  mix-blend-mode: screen;
}
