.nav-primary {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 2;
  position: relative;
  @include breakpoint($bp--navigation--wide) {
    top: -1em;
    z-index: 3;
  }
  .nav-item {}
  .site-header & {}
}

.nav-primary-trigger--label {
  @include nav-primary--item();
  @include icon(menu, $text-replace: true);
  margin: 0;
  letter-spacing: 0;
  z-index: 1;
}

.nav-primary--fan {
  @include nav-primary--item();
  @include breakpoint($bp--navigation--narrow) {
    text-align: right;
    padding-top: 0;
    padding-right: 0.5em;
    padding-bottom: 0;
    padding-left: 0.5em;
    font-weight: 800;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition-property: max-height, padding, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    &:nth-of-type(1) {
      color: color(white);
      margin-top: -2.5em;
      z-index: 1;
      max-height: 10em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      opacity: 1;
    }
    &:nth-of-type(1n+2) {
      border-bottom: 2px solid color(gray, light);
      margin-right: 0;
      padding-right: 0;
    }
    #nav-primary-trigger:checked ~ & {
      max-height: 10em;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      opacity: 1;
    }
  }
  @include breakpoint($bp--navigation--wide) {
    position: absolute;
    left: 0;
    right: 0;
    list-style-type: none;
    margin-left: -9em;
    padding-left: 10em;
    transform-origin: 0 50%;
    transform: rotate(0deg);
    transition-property: transform, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    &:nth-of-type(1n + 2) {
      opacity: 0;
    }
    @for $i from 1 through $navigation-count {
      &:nth-of-type(#{$i}) {
        z-index: $navigation-count - $i;
      }
    }
    #nav-primary-trigger:checked ~ & {
      @include fan-items(
        $num-items: $navigation-count,
        $angle-span: 65deg,
        $angle-offset: -40deg
      );
      opacity: 1;
    }
    a {
      border-bottom: 1px solid color(black);
    }
  }
  a {
    @include unset-background-links();
    display: block;
  }
}

#nav-primary-trigger {
  @include visuallyhidden();
}
