.page-title {
  @include h1();
  font-weight: 800;
  font-style: italic;
  z-index: 2;
  position: relative;
  //margin-bottom: 0.75em;
  margin-bottom: 0.33em;
  @include breakpoint($bp-typography-narrow) {
    margin-left: 2vw;
  }
  @include breakpoint($bp--portfolio--show-details) {
    flex-basis: 100vw;
    margin-left: 3vw;
  }
}
