$bp--portfolio-images-small: 600px;
$bp--portfolio-images-mid: 800px;
$bp--portfolio-images-large: 1200px;
$bp--portfolio--show-details: 950px;
$bp--portfolio--overview-padding: 400px;
$bp--portfolio--details-limit-width: $bp-typography-narrow;


//$flag-color: #84C759;
$flag-color: color(black);

.portfolio-item_pi {
  margin-top: 2rem;
  margin-bottom: 2rem;
  //border-top: 0.5em dashed color(black);
  @include breakpoint($bp--portfolio--show-details) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }
}
.pi--project-name {
  @include h1();
  font-weight: 800;
  font-style: italic;
  z-index: 2;
  position: relative;
  margin-bottom: 0.75em;
  @include breakpoint($bp--portfolio--show-details) {
    flex-basis: 100vw;
  }
}

.pi--overview {
  @include breakpoint($bp--portfolio--overview-padding) {
    padding-left: 2em;
  }
  @include breakpoint($bp--portfolio--show-details) {
    flex-basis: 100vw;
  }
}
.pi--overview--text {
  @include fontsize-rem(ms(1));
  line-height: 1.4;
  font-weight: 800;
  background-image: linear-gradient(-45deg, transparent 0.5rem, $flag-color 0);
  padding: 1em;
  color: color(white);
  position: relative;
  max-width: 20em;
  margin-bottom: 1.5em;
  //transform: perspective(600px) rotateX(-12deg) rotateY(20deg) rotateZ(5deg);
  //transform-origin: center;
  //transform-style: preserve-3d;
  &:before {
    position: absolute;
    content: '';
    background-image: linear-gradient(45deg, $flag-color 0.5em, transparent 0);
    left: 0;
    bottom: 100%;
    width: 1em;
    height: 1em;
  }
  @include breakpoint($bp--portfolio--show-details) {
    flex-basis: 100vw;
  }
  em {
    font-family: font(surveyor);
    font-weight: 200;
  }
}

.pi--details {
  max-width: 30em;
  @include breakpoint($bp--portfolio--show-details) {
    flex-basis: 33%;
    order: 4;
  }
}

.pi--details--offside {
  position: fixed;
  top: 0;
  left: 100vw;
  /*left: 5vw;*/
  background-color: color(white);
  padding: 1em;
  width: 95vw;
  border-left: 0.5em solid $flag-color;
  height: 100vh;
  //overflow-y: auto;
  z-index: 100;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  @include breakpoint($bp--portfolio--details-limit-width) {
    width: 30em;
    transition-property: transform;
  }
  @include breakpoint($bp--portfolio--show-details) {
    position: static;
    width: auto;
    border-left: 0;
    height: auto;
  }
}

.pi--details--trigger {
  &:checked {
    & ~ .pi--details--offside {
      left: 5vw;
      @include breakpoint($bp--portfolio--details-limit-width) {
        left: 100vw;
        transform: translateX(-30em);
      }
      @include breakpoint($bp--portfolio--show-details) {
        left: auto;
        transform: none;
      }
    }
  }
}

.pi--details--trigger-label {
  position: relative;
  width: calc(100vw - 0.5rem);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1.5em;

  font-family: font(surveyor-fine);
  font-style: italic;
  @include fontsize-rem(ms(2));
  @include breakpoint($bp--portfolio--show-details) {
    display: none;
  }
  //&:hover {
  //  color: color(gray);
  //  &:after {
  //    border-color: transparent color(gray);
  //  }
  //}
  &:after {
    content: "";
    width: 0;
    height: 0;
    margin-left: 0.5em;
    border-width: 0.5em 0.66em 0.5em 0;
    border-style: solid;
    border-color: transparent $flag-color;
  }
}
.pi--details--trigger-label--close {
  border-width: 0 1px 1px 1px;
  border-color: color(black);
  border-style: solid;
  width: 1.5em;
  height: 1.5em;
  padding: 4px;
  line-height: 0.66em;
  top: -1em;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint($bp--portfolio--show-details) {
    display: none;
  }
}

.pi--details--title {
  @include fontsize-rem(ms(3));
  font-style: italic;
  width: auto;
  display: block;
  margin-bottom: 1em;
  border-bottom: 0.125em solid $flag-color;
  // @todo look into header inconsistancies and overrides
  text-transform: none;
  font-weight: 800;
}
.pi--item-description {
  margin-bottom: 2em;
}
[class^='pi--item-label'] {
  @include h6();
  font-weight: 800;
  font-style: italic;
  text-transform: lowercase;
  margin-right: 0.5em;
  letter-spacing: 2px;
}
.pi--item-label--client {
  display: inline;
}
.pi--client {
  display: inline;
  font-weight: 200;
}
.pi--responsibilities {
  margin-top: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  //justify-content: space-between;
  //align-items: stretch;
  li {
    font-weight: 200;
    background-color: color(gray, light);
    flex-basis: 8em;
    list-style-type: none;
    margin: 0 0.5em 0.5em 0;
    padding: 0.25em;
    //&:after {
    //  content: ', ';
    //}
    //&:last-of-type {
    //  &:after {
    //    content: '';
    //  }
    //}
  }
}
.pi--item-label--agency {
  display: inline;
}
.pi--agency {
  display: inline;
}


.pi--images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 -1em 1em;
  &[data-eq-state$='small'] {
    margin: 0 -3em 1em;
  }
  @include breakpoint($bp--portfolio--show-details) {
    flex-basis: 66%;
    order: 3;
  }
}
.pi--image {
  margin-bottom: 3em;
  padding: 0 1em;
  flex-basis: 100%;
  text-align: center;
  flex-grow: 1;
  img {
    width: 100%;
  }
  &.pi--image--narrow {
    img {
      max-width: 400px;
    }
  }
  &.pi--image--medium {
    img {
      max-width: 800px;
    }
  }
  &.pi--image--wide {
    img {
      max-width: 1500px;
    }
  }
  [data-eq-state$='small'] & {
    margin-bottom: 6em;
    padding: 0 3em;
    &.pi--image--narrow {
      flex-basis: 50%;
    }
  }
  [data-eq-state$='mid'] & {
    &.pi--image--narrow {
      flex-basis: 33%;
    }
    &.pi--image--medium {
      flex-basis: 50%;
    }
    &.pi--image--wide {
      flex-basis: 66%;
      flex-grow: 1;
    }
  }
  [data-eq-state$='large'] & {
    &.pi--image--narrow {
      flex-basis: 25%;
    }
    &.pi--image--medium {
      flex-basis: 50%;
    }
    &.pi--image--wide {
      flex-basis: 75%;
    }
  }
}
