$bp--portfolio-images-small: 600px;
$bp--portfolio-images-mid: 800px;
$bp--portfolio-images-large: 1200px;
$bp--portfolio--show-details: 950px;

//$flag-color: color(red);
$flag-color: color(black);

.portfolio-item_pi {
  margin-top: 2rem;
  margin-bottom: 2rem;
  //position: relative;
  //display: flex;
  //flex-direction: column;
  //align-items: flex-start;
  border-top: 0.5em dashed color(black);
  @include breakpoint($bp--portfolio--show-details) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }
}
.pi--project-name {
  @include h1();
  font-weight: 800;
  font-style: italic;
  z-index: 2;
  position: relative;
  margin-bottom: 0.75em;
  @include breakpoint($bp--portfolio--show-details) {
    flex-basis: 100vw;
  }
}

.pi--overview {
  @include breakpoint($bp--portfolio--show-details) {
    flex-basis: 100vw;
  }
}
.pi--overview--text {
  @include fontsize-rem(ms(1));
  line-height: 1.4;
  font-weight: 800;
  background-image: linear-gradient(-45deg, transparent 0.5rem, $flag-color 0);
  //background-image: linear-gradient(to right, $flag-color 1em, transparent), linear-gradient(-45deg, transparent 0.5rem, $flag-color 0, color(gray));
  //background-size: 50% 100%, 100%;
  //background-repeat: no-repeat;
  padding: 1em;
  color: color(white);
  position: relative;
  max-width: 20em;
  margin-bottom: 1.5em;
  //transform: perspective(600px) rotateX(-12deg) rotateY(20deg) rotateZ(5deg);
  //transform-origin: center;
  //transform-style: preserve-3d;
  &:before {
    position: absolute;
    content: '';
    background-image: linear-gradient(45deg, $flag-color 0.5em, transparent 0);
    left: 0;
    bottom: 100%;
    width: 1em;
    height: 1em;
  }
  @include breakpoint($bp--portfolio--show-details) {
    flex-basis: 100vw;
  }
  em {
    font-family: font(surveyor);
    font-weight: 200;
  }
}

.pi--details {
  max-width: 30em;
  @include breakpoint($bp--portfolio--show-details) {
    flex-basis: 33%;
    order: 4;
  }
}

.pi--details--offside {
  position: fixed;
  top: 0;
  left: 100vw;
  /*left: 5vw;*/
  background-color: color(white);
  padding: 1em;
  width: 95vw;
  border-left: 0.5em solid color(black);
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  transition-property: left;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  @include breakpoint($bp--portfolio--show-details) {
    position: static;
    width: auto;
    border-left: 0;
    height: auto;
  }
}

.pi--details--trigger {
  &:checked {
    & + .pi--details--trigger-label {
      &:after {
        //transform: translateX(calc(-95vw + 1.1em)) rotateY(180deg);
        transform: translateX(-95vw);
        //border-color: transparent color(red);
        //box-shadow: 15px 0px 0px 0 color(red), 30px 0px 0px 0 color(red);
        content: "x";
        border-width: 0 1px 1px 0;
        border-color: color(black);
        width: 0.66em;
        height: 0.66em;
        padding: 4px;
        line-height: 0.66em;
        top: 0;
        position: fixed;
      }
    }
    & ~ .pi--details--offside {
      left: 5vw;
    }
  }
}

.pi--details--trigger-label {
  position: relative;
  width: calc(100vw - 0.5rem);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1.5em;
  @include breakpoint(950px) {
    display: none;
  }
  &:hover {
    color: color(gray);
    &:after {
      border-color: transparent color(gray);
    }
  }
  &:after {
    content: "";
    width: 0;
    height: 0;
    margin-left: 0.5em;
    border-width: 0.5em 0.66em 0.5em 0;
    border-style: solid;
    border-color: transparent color(black);
    z-index: 200;
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
}

.pi--item-description {
  margin-bottom: 0.5em;
  border-bottom: 1px solid color(gray, light);
}
[class^='pi--item-label'] {
  @include h6();
  font-weight: 800;
  font-style: italic;
  text-transform: lowercase;
  margin-right: 0.5em;
  display: inline;
  letter-spacing: 2px;
}
.pi--item-label--client {}
.pi--client {
  display: inline;
  font-weight: 200;
  //letter-spacing: 0.8px;
}
.pi--responsibilities {
  margin-top: 0;
  padding-left: 0;
  li {
    display: inline-block;
    margin-right: 0.5em;
    //padding: 3px 0.5em;
    font-weight: 200;
    &:after {
      content: ', ';
    }
    &:nth-of-type(even) {
      //background-color: color(gray, light);
      /*font-style: italic;*/
      //@include try-font-weights();
      //@include try-ms();
      //@include try-fonts();
    }
    @for $i from 1 through 10 {
      &:nth-of-type(1n + #{$i}) {
        //font-size: ms(0) - $i;
      }
    }
    &:last-of-type {
      &:after {
        content: '';
      }
    }
  }
}
.pi--agency {
  display: inline;
}


.pi--images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 -1em 1em;
  @include breakpoint($bp--portfolio-images-small) {
    margin: 0 -3em 1em;
  }
  @include breakpoint($bp--portfolio--show-details) {
    flex-basis: 66%;
    order: 3;
  }
}
.pi--image {
  margin-bottom: 3em;
  padding: 0 1em;
  flex-basis: 100%;
  text-align: center;
  flex-grow: 1;
  img {
    width: 100%;
  }
  &.pi--image--narrow {
    img {
      max-width: 400px;
    }
  }
  &.pi--image--medium {
    img {
      max-width: 800px;
    }
  }
  &.pi--image--wide {
    img {
      max-width: 1500px;
    }
  }
  //@include breakpoint($bp--portfolio-images-small) {
  //@include eq-contains('small') {
  [data-eq-state$='small'] & {
    margin-bottom: 6em;
    padding: 0 3em;
    &.pi--image--narrow {
      flex-basis: 50%;
    }
  }
  //@include breakpoint($bp--portfolio-images-mid) {
  //@include eq-contains('mid') {
  [data-eq-state$='mid'] & {
    &.pi--image--narrow {
      flex-basis: 33%;
    }
    &.pi--image--medium {
      flex-basis: 50%;
    }
    &.pi--image--wide {
      flex-basis: 66%;
      flex-grow: 1;
    }
  }
  //@include breakpoint($bp--portfolio-images-large) {
  //@include eq-contains('large') {
  [data-eq-state$='large'] & {
    &.pi--image--narrow {
      flex-basis: 25%;
    }
    &.pi--image--medium {
      flex-basis: 50%;
    }
    &.pi--image--wide {
      flex-basis: 75%;
    }
  }
}



//img {
//  filter: grayscale(100%) contrast(125%);
//  filter: contrast(125%);
//}
