{{#portfolio-overview--item}}
  &lt;div class=&quot;portfolio-overview--item&quot;&gt;
    &lt;a href=&quot;&quot; class=&quot;po-item--link {{class}}&quot;&gt;
      &lt;h3 class=&quot;po-item--name&quot;&gt;{{item-name}}&lt;/h3&gt;
    &lt;/a&gt;
  &lt;/div&gt;
{{/portfolio-overview--item}}
