// ==========================================================================
// Base - Base Styles
// ========================================================================== */

* {
  box-sizing: border-box;
}

html {
  color: $color-text;
  font-family: $font-body;
  font-size: unitless-convert(ms(1), 16px) * 100%;
  line-height: $base-line-height-unitless;
  height: 100%;
  @include breakpoint($bp-typography-narrow) {
    font-size: unitless-convert(ms(0), 16px) * 100%;
  }
}

body {
  background-color: $color-background;
  background-attachment: fixed;
  height: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 $side-margin;
  //overflow-x: hidden;
  @include breakpoint($bp-typography-narrow) {
    padding: 0 $side-margin--wide;
  }
}

button,
input,
select,
textarea {
  font-size: fontsize-rem($root-typesize);
  color: $color-text;
  font-family: $font-body;
  line-height: $base-line-height-unitless;
}

p {
  margin-top: 0;
  margin-bottom: $base-line-em;
  widows: 3;
  orphans: 3;
  max-width: 40em;
}

a {
  @include link-standard();
}

abbr {
  font-variant: small-caps;
}

.hidden {
  @extend %hidden;
}
