&lt;div class=&quot;talk&quot;&gt;
  {{&gt;molecules-talk-title}}
  &lt;div class=&quot;talk--description-and-events&quot;&gt;
    {{&gt;molecules-talk-description}}
    {{&gt;molecules-talk-events}}
  &lt;/div&gt;
  {{&gt;molecules-talk-slides}}
  {{&gt;molecules-talk-reactions}}
&lt;/div&gt;
