&lt;div class=&quot;intro--text&quot;&gt;
  &lt;div class=&quot;intro-graphs&quot;&gt;
    {{{intro-graphs}}}
  &lt;/div&gt;
  &lt;div class=&quot;intro-graphs-caption&quot;&gt;
    {{{intro-graphs-caption}}}
  &lt;/div&gt;
&lt;/div&gt;
