&lt;li class=&quot;pn--nav-list-item&quot;&gt;
  &lt;a href=&quot;{{pn--nav-list-item--link}}&quot; class=&quot;pn--nav-list-item--link&quot;&gt;
    &lt;div class=&quot;pn--nav-list-item--image&quot;&gt;&lt;img src=&quot;{{pn--nav-list-item--image}}&quot; alt=&quot;{{pn--nav-list-item--name}}&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;pn--nav-list-item--name&quot;&gt;{{pn--nav-list-item--name}}&lt;/div&gt;
  &lt;/a&gt;
&lt;/li&gt;
