<h1>Audience</h1>

<ol>
  <li>designers who code</li>
  <li>designers</li>
  <li>employers</li>
</ol>

<h1>Purpose</h1>

<ul>
  <li>web experiments</li>
  <li>speaking promotion</li>
  <li>video tutorials</li>
  <li>portfolio</li>
  <li>blog posts</li>
  <li>open source projects</li>
  <li>contact</li>
</ul>


<h1>Audience Matrix</h1>

<table>
  <thead>
  <tr>
    <th>SCALE: 1&#8211;3</th>
    <th>Designers who code</th>
    <th>Designers</th>
    <th>Developers</th>
    <th>Employers</th>
    <th>[Score]</th>
    <th>Section</th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td>web experiments</td>
    <td>3</td>
    <td>3</td>
    <td>3</td>
    <td>2</td>
    <td>11</td>
    <td>posts</td>
  </tr>
  <tr>
    <td>portfolio</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>3</td>
    <td>9</td>
    <td>portfolio</td>
  </tr>
  <tr>
    <td>speaking promotion</td>
    <td>3</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>9</td>
    <td>speaking</td>
  </tr>
  <tr>
    <td>video tutorials</td>
    <td>3</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>9</td>
    <td>posts</td>
  </tr>
  <tr>
    <td>open source projects</td>
    <td>2</td>
    <td>1</td>
    <td>3</td>
    <td>2</td>
    <td>8</td>
    <td>portfolio</td>
  </tr>
  <tr>
    <td>blog posts</td>
    <td>2</td>
    <td>1</td>
    <td>2</td>
    <td>1</td>
    <td>6</td>
    <td>posts</td>
  </tr>
  <tr>
    <td>about</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>2</td>
    <td>5</td>
    <td>contact</td>
  </tr>
  <tr>
    <td>contact</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>2</td>
    <td>5</td>
    <td>contact</td>
  </tr>
  </tbody>
</table>


<h1>Content Creation</h1>

<h2>About</h2>

<ul>
  <li>just write a two sentence bio. how hard could that be?</li>
  <li>photo</li>
</ul>

<h2>Web Experiements</h2>
<ul>
  <li>extract project work</li>
  <li>try new things</li>
  <li>post to code pen</li>
  <li>embed here</li>
</ul>

<h2>speaking promotion</h2>

<ul>
  <li>create page</li>
  <li>list talks</li>
  <li>link to talks</li>
  <li>embed or link to videos</li>
  <li>link to slides</li>
</ul>

<h2>video tutorials</h2>
<ul>
  <li>page for each existing video</li>
  <li>create videos for new experients</li>
</ul>

<h2>portfolio</h2>

<ul>
  <li>show each project - clean, direct</li>
  <li>show best aspects of each</li>
</ul>

<h2>blog posts</h2>

<ul>
  <li>keep the ability to post text</li>
  <li>won't be doing much writing</li>
</ul>

<h2>open source projects</h2>

<ul>
  <li>list, describe, and link to projects</li>
</ul>

<h2>contact</h2>

<ul>
  <li>contact form</li>
</ul>
