&lt;svg class=&quot;svg-clip-paths&quot; width=&quot;0&quot; height=&quot;0&quot;&gt;
  &lt;defs&gt;
    &lt;clipPath id=&quot;jag-top&quot; clipPathUnits=&quot;objectBoundingBox&quot;&gt;
      &lt;polygon points=&quot;0 0.04, 0.25 0.08, 0.5 0.04, 0.75 0, 1 0.04, 1 1, 0 1&quot; /&gt;
    &lt;/clipPath&gt;
    &lt;clipPath id=&quot;jag-left&quot; clipPathUnits=&quot;objectBoundingBox&quot;&gt;
      &lt;polygon points=&quot;1 0, 1 1, 0.04 1, 0 0.75, 0.04 0.5, 0.08 0.25, 0.04 0&quot; /&gt;
    &lt;/clipPath&gt;
  &lt;/defs&gt;
&lt;/svg&gt;
