{{&gt; atoms-clipping-svg }}

&lt;div class=&quot;portfolio--project&quot;&gt;
  &lt;div class=&quot;project--lead&quot;&gt;
    &lt;h2 class=&quot;project--title&quot;&gt;Cage!&lt;/h2&gt;
    &lt;!--&lt;a class=&quot;project--link&quot; href=&quot;http://sassconf.thecodingdesigner.com/&quot;&gt;View SassConf (archive)&lt;/a&gt;--&gt;
  &lt;/div&gt;
  &lt;div class=&quot;project--images&quot;&gt;
    &lt;img src=&quot;http://placecage.com/300/300&quot;
         alt=&quot;&quot; class=&quot;project--image opt-2&quot;/&gt;
    &lt;img src=&quot;http://placecage.com/350/350&quot; alt=&quot;&quot; class=&quot;project--image opt-2&quot;/&gt;
    &lt;img src=&quot;http://placecage.com/320/320&quot; alt=&quot;&quot;
         class=&quot;project--image opt-2&quot;/&gt;
    &lt;img src=&quot;http://placecage.com/340/340&quot; alt=&quot;&quot;
         class=&quot;project--image opt-2&quot;/&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;portfolio--project&quot;&gt;
  &lt;div class=&quot;project--lead&quot;&gt;
    &lt;h2 class=&quot;project--title&quot;&gt;Murray!&lt;/h2&gt;
    &lt;!--&lt;a class=&quot;project--link&quot; href=&quot;http://sassconf.thecodingdesigner.com/&quot;&gt;View SassConf (archive)&lt;/a&gt;--&gt;
  &lt;/div&gt;
  &lt;div class=&quot;project--images&quot;&gt;
    &lt;img src=&quot;http://fillmurray.com/300/300&quot;
         alt=&quot;&quot; class=&quot;project--image opt-3&quot;/&gt;
    &lt;img src=&quot;http://fillmurray.com/350/350&quot; alt=&quot;&quot; class=&quot;project--image opt-3&quot;/&gt;
    &lt;img src=&quot;http://fillmurray.com/320/320&quot; alt=&quot;&quot;
         class=&quot;project--image opt-3&quot;/&gt;
    &lt;img src=&quot;http://fillmurray.com/340/340&quot; alt=&quot;&quot;
         class=&quot;project--image opt-3&quot;/&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;portfolio--project&quot;&gt;
  &lt;div class=&quot;project--lead&quot;&gt;
    &lt;h2 class=&quot;project--title&quot;&gt;Whoa.&lt;/h2&gt;
    &lt;!--&lt;a class=&quot;project--link&quot; href=&quot;http://sassconf.thecodingdesigner.com/&quot;&gt;View SassConf (archive)&lt;/a&gt;--&gt;
  &lt;/div&gt;
  &lt;div class=&quot;project--images&quot;&gt;
    &lt;img src=&quot;http://s3.amazonaws.com/images.hitfix.com/assets/2058/keanu1_.gif&quot;
         alt=&quot;&quot; class=&quot;project--image opt-4&quot;/&gt;
    &lt;img src=&quot;http://s3.amazonaws.com/images.hitfix.com/assets/2059/keanu2.gif&quot; alt=&quot;&quot; class=&quot;project--image opt-4&quot;/&gt;
    &lt;img src=&quot;http://snd1.splashpress1.netdna-cdn.com/wp-content/uploads/2013/10/46746733-thumb-up-.gif&quot; alt=&quot;&quot;
         class=&quot;project--image opt-4&quot;/&gt;
  &lt;/div&gt;
&lt;/div&gt;

&lt;div class=&quot;portfolio--project&quot;&gt;
  &lt;div class=&quot;project--lead&quot;&gt;
    &lt;h2 class=&quot;project--title&quot;&gt;I Want Moire!&lt;/h2&gt;
    &lt;!--&lt;a class=&quot;project--link&quot; href=&quot;http://sassconf.thecodingdesigner.com/&quot;&gt;View SassConf (archive)&lt;/a&gt;--&gt;
  &lt;/div&gt;
  &lt;div class=&quot;project--images&quot;&gt;
    &lt;img src=&quot;https://41.media.tumblr.com/ed49c8c12bbd3ce77d9c12a04fa36abc/tumblr_nmr41z3yh51u3ptkco10_r1_400.png&quot;
         alt=&quot;&quot; class=&quot;project--image&quot;/&gt;
    &lt;img src=&quot;http://www.polyvore.com/cgi/img-thing?.out=jpg&amp;size=l&amp;tid=26808814&quot; alt=&quot;&quot; class=&quot;project--image&quot;/&gt;
    &lt;img src=&quot;https://cdn.d23.com/wp-content/uploads/2013/02/021413_FS_AskDave_011013_020413_7.jpg&quot; alt=&quot;&quot;
         class=&quot;project--image&quot;/&gt;
    &lt;img src=&quot;http://www.blogcdn.com/www.cambio.com/media/2011/10/littlemermaidlh100411.jpg&quot; alt=&quot;&quot;
         class=&quot;project--image&quot;/&gt;
  &lt;/div&gt;
&lt;/div&gt;





&lt;div class=&quot;portfolio--project&quot;&gt;
  &lt;div class=&quot;project--lead&quot;&gt;
    &lt;h2 class=&quot;project--title&quot;&gt;Shake it off!&lt;/h2&gt;
    &lt;!--&lt;a class=&quot;project--link&quot; href=&quot;http://sassconf.thecodingdesigner.com/&quot;&gt;View SassConf (archive)&lt;/a&gt;--&gt;
  &lt;/div&gt;
  &lt;div class=&quot;project--images&quot;&gt;
    &lt;img src=&quot;http://ak-hdl.buzzfed.com/static/2014-08/18/17/enhanced/webdr09/anigif_enhanced-6215-1408398312-11.gif&quot;
         alt=&quot;&quot; class=&quot;project--image opt-2-xx&quot;/&gt;
    &lt;img src=&quot;https://misterbenjy.files.wordpress.com/2015/03/taylor_swift_3_by_lighteroflight-d834ylr.gif&quot; alt=&quot;&quot; class=&quot;project--image &quot;/&gt;
    &lt;img src=&quot;http://static.spin.com/files/tumblr_naiv4kJvgc1r02hs8o1_1280.gif&quot; alt=&quot;&quot;
         class=&quot;project--image opt-3-xx&quot;/&gt;
    &lt;img src=&quot;https://media.giphy.com/media/1k6cQEDbfSVHi/giphy.gif&quot; alt=&quot;&quot;
         class=&quot;project--image&quot;/&gt;
  &lt;/div&gt;
&lt;/div&gt;



&lt;!--&lt;svg class=&quot;jag-right&quot; width=&quot;150&quot; height=&quot;150&quot;&gt;--&gt;
&lt;!--&lt;image xlink:href=&quot;http://fillmurray.com/150/150&quot; width=&quot;150&quot; height=&quot;150&quot;&gt;&lt;/image&gt;--&gt;
&lt;!--&lt;/svg&gt;--&gt;
&lt;!--&lt;svg class=&quot;jag-both&quot; width=&quot;150&quot; height=&quot;150&quot;&gt;--&gt;
&lt;!--&lt;image xlink:href=&quot;http://fillmurray.com/g/150/150&quot; width=&quot;150&quot; height=&quot;150&quot;&gt;&lt;/image&gt;--&gt;
&lt;!--&lt;/svg&gt;--&gt;
&lt;!--&lt;svg class=&quot;jag-left&quot; width=&quot;150&quot; height=&quot;150&quot;&gt;--&gt;
&lt;!--&lt;image xlink:href=&quot;http://fillmurray.com/150/150&quot; width=&quot;150&quot; height=&quot;150&quot;&gt;&lt;/image&gt;--&gt;
&lt;!--&lt;/svg&gt;--&gt;
