{{#talk-video}}
  &lt;div class=&quot;talk--video&quot;&gt;
    {{#talk-video-youtube-embed-url}}
      &lt;div class=&quot;video-container--youtube&quot;&gt;
        &lt;iframe width=&quot;960&quot; height=&quot;720&quot; src=&quot;{{talk-video-youtube-embed-url}}&amp;amp;showinfo=0&quot;
                frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;
      &lt;/div&gt;
    {{/talk-video-youtube-embed-url}}
    {{#talk-video-vimeo-embed}}
      {{{talk-video-vimeo-embed}}}
    {{/talk-video-vimeo-embed}}
  &lt;/div&gt;
{{/talk-video}}
