<div class="portfolio-item_pi page-content">
  <h1 class="pi--project-name page-title">Score.org</h1>
  <div class="pi--overview">
    <div class="pi--overview--text">Engage and create <em>relationships</em> with <em>entrpreneurs</em>.</div>
  </div>
  <div class="pi--details">
    <input type="checkbox" class="pi--details--trigger hidden" id="pi--details--trigger--score">
    <label for="pi--details--trigger--score" class="pi--details--trigger-label">What I did</label>
    <div class="pi--details--offside">
      <label for="pi--details--trigger--score" class="pi--details--trigger-label--close">X</label>
      <h3 class="pi--details--title">What I did</h3>
      <div class="pi--item-description">
        <h4 class="pi--item-label--client">Client:</h4>
        <div class="pi--client"><abbr>SCORE</abbr></div>
      </div>
      <div class="pi--item-description">
        <h4 class="pi--item-label--about">About:</h4>
        <div class="pi--about">{{excerpt.medium}}</div>
      </div>
      <div class="pi--item-description">
        <h4 class="pi--item-label--responsibilities">Responsibilities:</h4>
        <ul class="pi--responsibilities">
          <li>Art Direction</li>
          <li>Lead Designer</li>
          <li>Presentations</li>
          <li>Kick-off lead</li>
          <li>Front End Development</li>
          <li>Prototyping</li>
        </ul>
      </div>
      <div class="pi--item-description">
        <h4 class="pi--item-label--agency">Agency:</h4>
        <div class="pi--agency"><a href="">Phase2</a></div>
      </div>
    </div>
  </div>
  <div class="pi--images" data-eq-pts="small: 600, mid: 800, large: 1200">
    <picture class="pi--image pi--image--wide">
      <img src="{{img-portfolio-url}}score/score-home-devices.png" alt="Screenshots of Score.org">
    </picture>
    <picture class="pi--image pi--image--wide">
      <img src="{{img-portfolio-url}}score/score-home-laptop.png" alt="Screenshots of Score.org">
    </picture>
    <picture class="pi--image pi--image--narrow">
      <img src="{{img-portfolio-url}}score/score-home-phone.png" alt="Screenshots of Score.org">
    </picture>
    <picture class="pi--image pi--image--narrow">
      <img src="{{img-portfolio-url}}score/score-home-menu-phone.png" alt="Screenshots of Score.org">
    </picture>
    <picture class="pi--image pi--image--medium">
      <img src="{{img-portfolio-url}}score/score-home-tablet.png" alt="Screenshots of Score.org">
    </picture>
  </div>

</div>
