<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Of course responsive web design is hard. It&#39;s design. <a href="https://twitter.com/hashtag/rwd?src=hash">#rwd</a></p>&mdash; Mace Windu (@codingdesigner) <a href="https://twitter.com/codingdesigner/status/182147993800159232">March 20, 2012</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
