<div class="portfolio-overview--item">
  <h3 class="po-item--name"><a href="">{{item-name}}</a></h3>
  <a href="../..{{ link.pages-portfolio-item }}" class="portfolio--view-full-item">View full portfolio item</a>
  <a href="" class="po-item--link {{class}}"></a>
</div>
