<li class="pn--nav-list-item">
  <a href="{{pn--nav-list-item--link}}" class="pn--nav-list-item--link">
    <div class="pn--nav-list-item--image"><img src="{{pn--nav-list-item--image}}" alt="{{pn--nav-list-item--name}}"></div>
    <div class="pn--nav-list-item--name">{{pn--nav-list-item--name}}</div>
  </a>
</li>
