&lt;div class=&quot;portfolio-item_pi page-content&quot;&gt;
  &lt;h1 class=&quot;pi--project-name page-title&quot;&gt;{{pi--project-name}}&lt;/h1&gt;
  &lt;div class=&quot;pi--overview&quot;&gt;
    &lt;div class=&quot;pi--overview--text&quot;&gt;{{{pi--overview--text}}}&lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;pi--details&quot;&gt;
    &lt;input type=&quot;checkbox&quot; class=&quot;pi--details--trigger hidden&quot; id=&quot;pi--details--trigger--score&quot;&gt;
    &lt;label for=&quot;pi--details--trigger--score&quot; class=&quot;pi--details--trigger-label&quot;&gt;What I did&lt;/label&gt;
    &lt;div class=&quot;pi--details--offside&quot;&gt;
      &lt;label for=&quot;pi--details--trigger--score&quot; class=&quot;pi--details--trigger-label--close&quot;&gt;X&lt;/label&gt;
      &lt;h3 class=&quot;pi--details--title&quot;&gt;What I did&lt;/h3&gt;
      &lt;div class=&quot;pi--item-description&quot;&gt;
        &lt;h4 class=&quot;pi--item-label--client&quot;&gt;Client:&lt;/h4&gt;
        &lt;div class=&quot;pi--client&quot;&gt;{{{pi--item-label--client}}}&lt;/div&gt;
        {{#pi--item-label--link--show}}
          &lt;div class=&quot;pi--item-label--link&quot;&gt;&lt;a href=&quot;{{pi--item-label--link}}&quot;&gt;{{pi--item-label--link--domain}}&lt;/a&gt;&lt;/div&gt;
        {{/pi--item-label--link--show}}
      &lt;/div&gt;
      {{#pi--about--show}}
        &lt;div class=&quot;pi--item-description&quot;&gt;
          &lt;h4 class=&quot;pi--item-label--about&quot;&gt;About:&lt;/h4&gt;
          &lt;div class=&quot;pi--about&quot;&gt;{{{pi--about}}}&lt;/div&gt;
        &lt;/div&gt;
      {{/pi--about--show}}
      &lt;div class=&quot;pi--item-description&quot;&gt;
        &lt;h4 class=&quot;pi--item-label--responsibilities&quot;&gt;Responsibilities:&lt;/h4&gt;
        &lt;ul class=&quot;pi--responsibilities&quot;&gt;
          {{#pi--responsibilities}}
            &lt;li&gt;{{item}}&lt;/li&gt;
          {{/pi--responsibilities}}
        &lt;/ul&gt;
      &lt;/div&gt;
      &lt;div class=&quot;pi--item-description&quot;&gt;
        &lt;h4 class=&quot;pi--item-label--agency&quot;&gt;Agency:&lt;/h4&gt;
        {{#pi--link-to-agency}}
          &lt;div class=&quot;pi--agency&quot;&gt;&lt;a href=&quot;{{pi--agency--link}}&quot;&gt;{{pi--agency}}&lt;/a&gt;&lt;/div&gt;
        {{/pi--link-to-agency}}
        {{^pi--link-to-agency}}
          &lt;div class=&quot;pi--agency&quot;&gt;{{pi--agency}}&lt;/div&gt;
        {{/pi--link-to-agency}}
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;pi--images&quot; data-eq-pts=&quot;small: 600, mid: 800, large: 1200&quot;&gt;
    {{#pi--images}}
      {{#pi--image--path}}
        &lt;picture class=&quot;pi--image {{pi--image--classes}}&quot;&gt;
          &lt;img src=&quot;{{img-portfolio-url}}{{pi--image--path}}&quot; alt=&quot;{{pi--image--alt}}&quot;&gt;
        &lt;/picture&gt;
      {{/pi--image--path}}
      {{#pi--image--mov}}
        &lt;video width=&quot;1400&quot; controls loop class=&quot;pi--image {{pi--image--classes}}&quot;&gt;
          &lt;source src=&quot;{{img-portfolio-url}}{{pi--image--mov}}&quot; type=&quot;video/mov&quot;&gt;
          &lt;source src=&quot;{{img-portfolio-url}}{{pi--image--mp4}}&quot; type=&quot;video/mp4&quot;&gt;
          {{pi--image--alt}}
        &lt;/video&gt;
      {{/pi--image--mov}}
    {{/pi--images}}
  &lt;/div&gt;

&lt;/div&gt;
