&lt;nav id=&quot;nav-primary&quot; class=&quot;nav nav-primary&quot;&gt;
  &lt;input type=&quot;checkbox&quot; id=&quot;nav-primary-trigger&quot;&gt;
  &lt;div class=&quot;nav-primary--fan&quot;&gt;&lt;label for=&quot;nav-primary-trigger&quot; class=&quot;nav-primary-trigger--label&quot;&gt;Menu&lt;/label&gt;&lt;/div&gt;
  &lt;div class=&quot;nav-primary--fan&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;nav-item&quot;&gt;Home&lt;/a&gt;&lt;/div&gt;
  &lt;div class=&quot;nav-primary--fan&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;nav-item&quot;&gt;Portfolio&lt;/a&gt;&lt;/div&gt;
  &lt;div class=&quot;nav-primary--fan&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;nav-item&quot;&gt;Speaking&lt;/a&gt;&lt;/div&gt;
  &lt;div class=&quot;nav-primary--fan&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;nav-item&quot;&gt;Photos&lt;/a&gt;&lt;/div&gt;
  &lt;div class=&quot;nav-primary--fan&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;nav-item&quot;&gt;Posts&lt;/a&gt;&lt;/div&gt;
  &lt;div class=&quot;nav-primary--fan&quot;&gt;&lt;a href=&quot;{{ url }}&quot; class=&quot;nav-item&quot;&gt;About&lt;/a&gt;&lt;/div&gt;
&lt;/nav&gt;
