&lt;svg width=&quot;493px&quot; height=&quot;493px&quot; viewBox=&quot;0 0 493 493&quot; version=&quot;1.1&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;
     xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xmlns:sketch=&quot;http://www.bohemiancoding.com/sketch/ns&quot;&gt;
  &lt;g id=&quot;Page-1&quot; stroke=&quot;none&quot; stroke-width=&quot;1&quot; fill=&quot;none&quot; fill-rule=&quot;evenodd&quot; sketch:type=&quot;MSPage&quot;&gt;
    &lt;g id=&quot;menu&quot; sketch:type=&quot;MSLayerGroup&quot; fill=&quot;#000000&quot;&gt;
      &lt;g id=&quot;Page-1&quot; sketch:type=&quot;MSShapeGroup&quot;&gt;
        &lt;g id=&quot;menu&quot;&gt;
          &lt;rect id=&quot;Rectangle-1&quot; x=&quot;0&quot; y=&quot;0&quot; width=&quot;493&quot; height=&quot;101.955497&quot;&gt;&lt;/rect&gt;
          &lt;rect id=&quot;Rectangle-1-Copy&quot; x=&quot;0&quot; y=&quot;194.876963&quot; width=&quot;493&quot; height=&quot;101.955497&quot;&gt;&lt;/rect&gt;
          &lt;rect id=&quot;Rectangle-1-Copy-2&quot; x=&quot;0&quot; y=&quot;391.044503&quot; width=&quot;493&quot; height=&quot;101.955497&quot;&gt;&lt;/rect&gt;
        &lt;/g&gt;
      &lt;/g&gt;
    &lt;/g&gt;
  &lt;/g&gt;
&lt;/svg&gt;
