&lt;div class=&quot;form-item form-type-file form-item-files-file&quot;&gt;
  &lt;label for=&quot;edit-file&quot;&gt;File &lt;/label&gt;
  &lt;input type=&quot;file&quot; id=&quot;edit-file&quot; name=&quot;files[file]&quot; size=&quot;60&quot; class=&quot;form-file&quot;&gt;

  &lt;div class=&quot;description&quot;&gt;In faucibus feugiat urna sit amet elementum.&lt;/div&gt;
&lt;/div&gt;
