<nav id="nav-primary" class="nav nav-primary">
  <input type="checkbox" id="nav-primary-trigger">
  <div class="nav-primary--fan"><label for="nav-primary-trigger" class="nav-primary-trigger--label">Menu</label></div>
  <div class="nav-primary--fan"><a href="{{ url }}" class="nav-item">Home</a></div>
  <div class="nav-primary--fan"><a href="{{ url }}" class="nav-item">Portfolio</a></div>
  <div class="nav-primary--fan"><a href="{{ url }}" class="nav-item">Speaking</a></div>
  <div class="nav-primary--fan"><a href="{{ url }}" class="nav-item">Posts</a></div>
  <div class="nav-primary--fan"><a href="{{ url }}" class="nav-item">About</a></div>
</nav>
