<nav id="nav-primary" class="nav nav-primary">
  <input type="checkbox" id="nav-primary-trigger">
  <div class="nav-primary--fan"><label for="nav-primary-trigger" class="nav-primary-trigger--label">Menu</label></div>
  <div class="nav-primary--fan"><a href="../..{{ link.pages-home }}" class="nav-item">Home</a></div>
  <div class="nav-primary--fan"><a href="../..{{ link.pages-portfolio-item }}" class="nav-item">Portfolio</a></div>
  <div class="nav-primary--fan"><a href="../..{{ link.pages-speaking }}" class="nav-item">Speaking</a></div>
  <div class="nav-primary--fan"><a href="https://www.instagram.com/codingdesigner/" class="nav-item" target="_blank">Photos</a></div>
  <div class="nav-primary--fan"><a href="../..{{ link.pages-posts-feed }}" class="nav-item">Posts</a></div>
  <div class="nav-primary--fan"><a href="../..{{ link.pages-about-page }}" class="nav-item">About</a></div>
</nav>
