<nav id="nav" class="nav">
  <ul class="nav-list">
    <li><a href="{{ url }}">Home (just make it look cool)</a></li>
    <li><a href="{{ url }}">Portfolio (just portfolio items. be inventive)</a></li>
    <li><a href="{{ url }}">Speaking (list of speaking gigs and talks)</a></li>
    <li><a href="{{ url }}">Posts (change name. projects, articles, tutorials)</a></li>
    <li><a href="{{ url }}">Contact (bio, photo)</a></li>
  </ul>
</nav>
