<section class="section latest-posts">
  <ul class="post-list">
    <li class="post-teaser--li"><div class="post-teaser no-image">
      <div class="post-teaser--text">
        <h2 class="post-teaser--title"><a href="../..{{ link.pages-post-page }}" class="post-teaser--link">Balancing Ideal Sass and Ideal CSS</a></h2>
        <div class="post-teaser--excerpt">
          <p>Sass makes CSS fun again, right? Well yeah, but that also makes it easy to forget that we’re still writing CSS. We can get caught up in all the new tools and tricks that Sass lets us do so easily that we lose sight of some CSS that might not be as awesome as we think it is.</p>
        </div>
      </div>
    </div>
    </li>
    <li class="post-teaser--li"><div class="post-teaser ">
      <div class="post-teaser--text">
        <h2 class="post-teaser--title"><a href="../..{{ link.pages-post-page-fixing-hfj }}" class="post-teaser--link">Fixing H&amp;FJ Font Previews</a></h2>
        <div class="post-teaser--excerpt">
          <p>I'm considering Hoefler &amp; Frere-Jones webfonts for a new project. The service looks great but I haven't signed up yet. This may be different once I've paid for something, but for now their web preview kind of sucks. (sorry H&amp;FJ) I want to test my own text before making such a big commitment but they only show their own promo text.</p>
        </div>
      </div>
      <div class="post-teaser--thumb">
        <a href="#" class="post-teaser--image-link">
          <img src="../../../../src/images/posts/fixing-hfj.png" alt="H&FJ Font Previews">
        </a>
      </div>
    </div>
    </li>
    <li class="post-teaser--li"><div class="post-teaser no-image">
      <div class="post-teaser--text">
        <h2 class="post-teaser--title"><a href="../..{{ link.pages-post-page-responsive-drupal }}" class="post-teaser--link">Responsive Web Design and Drupal</a></h2>
        <div class="post-teaser--excerpt">
          <p>We love Responsive Web Design, and we love Drupal. But do they love each other? After working on a number of RWD and Drupal projects this year, I’m happy to report that they get along just fine. Though “Love” might be stretching it a bit.</p>
        </div>
      </div>
    </div>
    </li>
    <li class="post-teaser--li"><div class="post-teaser ">
      <div class="post-teaser--text">
        <h2 class="post-teaser--title"><a href="../..{{ link.pages-post-page-breakpoint-1 }}" class="post-teaser--link">Breakpoint 1.0</a></h2>
        <div class="post-teaser--excerpt">
          <p>About a month ago I was working on a responsive site, and trying to do it right. So instead of setting break points to match device dimensions (for phone, tablet, and desktop) I would set break points when my content and design needed them. Taking this kind of control over your responsive design means two things:</p>
        </div>
      </div>
      <div class="post-teaser--thumb">
        <a href="#" class="post-teaser--image-link">
          <img src="../../../../src/images/posts/Breakpoint-Title-Card.png" alt="Breakpoint 1">
        </a>
      </div>
    </div>
    </li>

  </ul>




	<!--<ul class="post-list">-->
    {{#post-teasers}}
      <!--<li class="post-teaser--li">{{> molecules-post-teaser }}</li>-->
    {{/post-teasers}}
	<!--</ul>-->
</section>
