
<div class="portfolio--project">
  <div class="project--lead">
    <h2 class="project--title">Cage!</h2>
    <!--<a class="project--link" href="http://sassconf.thecodingdesigner.com/">View SassConf (archive)</a>-->
  </div>
  <div class="project--images">
    <img src="http://placecage.com/300/300"
         alt="" class="project--image opt-2"/>
    <img src="http://placecage.com/350/350" alt="" class="project--image opt-2"/>
    <img src="http://placecage.com/320/320" alt=""
         class="project--image opt-2"/>
    <img src="http://placecage.com/340/340" alt=""
         class="project--image opt-2"/>
  </div>
</div>

<div class="portfolio--project">
  <div class="project--lead">
    <h2 class="project--title">Murray!</h2>
    <!--<a class="project--link" href="http://sassconf.thecodingdesigner.com/">View SassConf (archive)</a>-->
  </div>
  <div class="project--images">
    <img src="http://fillmurray.com/300/300"
         alt="" class="project--image opt-3"/>
    <img src="http://fillmurray.com/350/350" alt="" class="project--image opt-3"/>
    <img src="http://fillmurray.com/320/320" alt=""
         class="project--image opt-3"/>
    <img src="http://fillmurray.com/340/340" alt=""
         class="project--image opt-3"/>
  </div>
</div>

<div class="portfolio--project">
  <div class="project--lead">
    <h2 class="project--title">Whoa.</h2>
    <!--<a class="project--link" href="http://sassconf.thecodingdesigner.com/">View SassConf (archive)</a>-->
  </div>
  <div class="project--images">
    <img src="http://s3.amazonaws.com/images.hitfix.com/assets/2058/keanu1_.gif"
         alt="" class="project--image opt-4"/>
    <img src="http://s3.amazonaws.com/images.hitfix.com/assets/2059/keanu2.gif" alt="" class="project--image opt-4"/>
    <img src="http://snd1.splashpress1.netdna-cdn.com/wp-content/uploads/2013/10/46746733-thumb-up-.gif" alt=""
         class="project--image opt-4"/>
  </div>
</div>

<div class="portfolio--project">
  <div class="project--lead">
    <h2 class="project--title">I Want Moire!</h2>
    <!--<a class="project--link" href="http://sassconf.thecodingdesigner.com/">View SassConf (archive)</a>-->
  </div>
  <div class="project--images">
    <img src="https://41.media.tumblr.com/ed49c8c12bbd3ce77d9c12a04fa36abc/tumblr_nmr41z3yh51u3ptkco10_r1_400.png"
         alt="" class="project--image"/>
    <img src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=26808814" alt="" class="project--image"/>
    <img src="https://cdn.d23.com/wp-content/uploads/2013/02/021413_FS_AskDave_011013_020413_7.jpg" alt=""
         class="project--image"/>
    <img src="http://www.blogcdn.com/www.cambio.com/media/2011/10/littlemermaidlh100411.jpg" alt=""
         class="project--image"/>
  </div>
</div>





<div class="portfolio--project">
  <div class="project--lead">
    <h2 class="project--title">Shake it off!</h2>
    <!--<a class="project--link" href="http://sassconf.thecodingdesigner.com/">View SassConf (archive)</a>-->
  </div>
  <div class="project--images">
    <img src="http://ak-hdl.buzzfed.com/static/2014-08/18/17/enhanced/webdr09/anigif_enhanced-6215-1408398312-11.gif"
         alt="" class="project--image opt-2-xx"/>
    <img src="https://misterbenjy.files.wordpress.com/2015/03/taylor_swift_3_by_lighteroflight-d834ylr.gif" alt="" class="project--image "/>
    <img src="http://static.spin.com/files/tumblr_naiv4kJvgc1r02hs8o1_1280.gif" alt=""
         class="project--image opt-3-xx"/>
    <img src="https://media.giphy.com/media/1k6cQEDbfSVHi/giphy.gif" alt=""
         class="project--image"/>
  </div>
</div>



<!--<svg class="jag-right" width="150" height="150">-->
<!--<image xlink:href="http://fillmurray.com/150/150" width="150" height="150"></image>-->
<!--</svg>-->
<!--<svg class="jag-both" width="150" height="150">-->
<!--<image xlink:href="http://fillmurray.com/g/150/150" width="150" height="150"></image>-->
<!--</svg>-->
<!--<svg class="jag-left" width="150" height="150">-->
<!--<image xlink:href="http://fillmurray.com/150/150" width="150" height="150"></image>-->
<!--</svg>-->
