<div class="talk">
  {{>molecules-talk-title}}
  <div class="talk--description-and-events">
    {{>molecules-talk-description}}
    {{>molecules-talk-events}}
  </div>
  {{>molecules-talk-slides}}
  {{>molecules-talk-reactions}}
</div>
