<nav class="portfolio-navigation">
  <h2 class="section-title">Portfolio</h2>
  <ul class="pn--nav-list">
    <li class="pn--nav-list-item">
      <a href="../..{{ link.pages-portfolio-item }}" class="pn--nav-list-item--link">
        <div class="pn--nav-list-item--image"><img src="../../../../src/images/portfolio/score/score-home-thumb.png" alt="{{pn--nav-list-item--name}}"></div>
        <div class="pn--nav-list-item--name">SCORE</div>
      </a>
    </li>
    <li class="pn--nav-list-item">
      <a href="../..{{ link.pages-portfolio-item-reliefweb-crisis }}" class="pn--nav-list-item--link">
        <div class="pn--nav-list-item--image"><img src="../../../../src/images/portfolio/reliefweb-crisis/reliefweb-crisis-thumb.png" alt="{{pn--nav-list-item--name}}"></div>
        <div class="pn--nav-list-item--name">UN OCHA ReliefWeb</div>
      </a>
    </li>
  </ul>
</nav>
