<nav class="portfolio-navigation">
  <h2 class="section-title">Portfolio</h2>
  <ul class="pn--nav-list">
    {{#pn--nav-list}}
      {{>molecules-portfolio-navigation-item}}
    {{/pn--nav-list}}
  </ul>
</nav>
