<nav class="portfolio-navigation">
  <h2 class="section-title">Portfolio</h2>
  <ul class="pn--nav-list">
    <li class="pn--nav-list-item">
      <a href="../..{{ link.pages-portfolio-item }}" class="pn--nav-list-item--link">
        <div class="pn--nav-list-item--image"><img src="../../../../src/images/portfolio/score/score-home-thumb.png" alt="SCORE"></div>
        <div class="pn--nav-list-item--name">SCORE</div>
      </a>
    </li>
    <li class="pn--nav-list-item">
      <a href="../..{{ link.pages-portfolio-item-reliefweb-crisis }}" class="pn--nav-list-item--link">
        <div class="pn--nav-list-item--image"><img src="../../../../src/images/portfolio/reliefweb-crisis/reliefweb-crisis-thumb.png" alt="UN OCHA ReliefWeb Crisis Page"></div>
        <div class="pn--nav-list-item--name">UN OCHA ReliefWeb</div>
      </a>
    </li>
    <li class="pn--nav-list-item">
      <a href="../..{{ link.pages-portfolio-item-ars-nova }}" class="pn--nav-list-item--link">
        <div class="pn--nav-list-item--image"><img src="../../../../src/images/portfolio/ars-nova/ars-nova-home-thumb.png" alt="Ars Nova Workshop"></div>
        <div class="pn--nav-list-item--name">Ars Nova Workshop</div>
      </a>
    </li>
    <li class="pn--nav-list-item">
      <a href="../..{{ link.pages-portfolio-item-estee }}" class="pn--nav-list-item--link">
        <div class="pn--nav-list-item--image"><img src="../../../../src/images/portfolio/estee/estee-home-thumb.png" alt="Estée Lauder"></div>
        <div class="pn--nav-list-item--name">Estée Lauder</div>
      </a>
    </li>
    <li class="pn--nav-list-item">
      <a href="../..{{ link.pages-portfolio-item-ars-nova }}" class="pn--nav-list-item--link">
        <div class="pn--nav-list-item--image"><img src="../../../../src/images/portfolio/mac/mac-home-thumb.png" alt="MAC Cosmetics"></div>
        <div class="pn--nav-list-item--name">MAC Cosmetics</div>
      </a>
    </li>
    <li class="pn--nav-list-item">
      <a href="../..{{ link.pages-portfolio-item-marsalis }}" class="pn--nav-list-item--link">
        <div class="pn--nav-list-item--image"><img src="../../../../src/images/portfolio/marsalis/marsalis-home-thumb.png" alt="Marsalis Music"></div>
        <div class="pn--nav-list-item--name">Marsalis Music</div>
      </a>
    </li>
    <li class="pn--nav-list-item">
      <a href="../..{{ link.pages-portfolio-item-rosenbach }}" class="pn--nav-list-item--link">
        <div class="pn--nav-list-item--image"><img src="../../../../src/images/portfolio/rosenbach/rosenbach-home-thumb.png" alt="Rosenbach Museum and Library"></div>
        <div class="pn--nav-list-item--name">Rosenbach Museum and Library</div>
      </a>
    </li>
    <li class="pn--nav-list-item">
      <a href="../..{{ link.pages-portfolio-item-sassconf-2014 }}" class="pn--nav-list-item--link">
        <div class="pn--nav-list-item--image"><img src="../../../../src/images/portfolio/sassconf-2014/sassconf-2014-home-thumb.png" alt="SassConf 2014"></div>
        <div class="pn--nav-list-item--name">SassConf 2014</div>
      </a>
    </li>
    <li class="pn--nav-list-item">
      <a href="../..{{ link.pages-portfolio-item-thinking-box }}" class="pn--nav-list-item--link">
        <div class="pn--nav-list-item--image"><img src="../../../../src/images/portfolio/thinking-box/thinking-box-thumb.png" alt="Thinking Inside the Box Inside the Box Inside the Box"></div>
        <div class="pn--nav-list-item--name">Thinking Inside the Box</div>
      </a>
    </li>
    <li class="pn--nav-list-item">
      <a href="../..{{ link.pages-portfolio-item-usa }}" class="pn--nav-list-item--link">
        <div class="pn--nav-list-item--image"><img src="../../../../src/images/portfolio/usa/usa-home-thumb.png" alt="USA Network"></div>
        <div class="pn--nav-list-item--name">USA Network</div>
      </a>
    </li>
  </ul>
</nav>
