//.todo-placeholder {
//  outline: 1px solid color(gray);
//  position: relative;
//  text-align: center;
//  &:after {
//    position: absolute;
//    content: "PLACEHOLDER";
//    background-color: color(gray, light);
//    font-size: 1rem;
//    border: 1px solid color(gray);
//    padding: 0.25rem;
//    top: 50%;
//    left: 50%;
//    transform: translateX(-50%) translateY(-50%);
//  }
//}

//body {
//  background-image:
//    radial-gradient($color-background 0.125em, transparent 0),
//    radial-gradient(color(white, warm) 0.25em, transparent 0),
//    radial-gradient($color-background 0.125em, transparent 0),
//    radial-gradient(color(white, warm) 0.25em, transparent 0);
//  background-size: 2em 2em, 2em 2em, 2em 2em, 2em 2em;
//  background-position: 0, 0, 1em 0, 1em 0;
//}

.intro {
  margin-bottom: 6em;
  .page--speaking & {
    display: flex;
    flex-wrap: wrap;
    @include breakpoint(720px) {
      justify-content: space-between;
    }
  }
}
.intro--text {
  .page--speaking & {
    background-image: url('../../src/images/speaking/sass-conf--speaker-panel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 100%;
    background-color: #0F0F0F;
    color: color(white);
    padding: 0.5em 0.5em 34em;
    margin-bottom: 1.5em;
    // @todo refactor to use eq.js
    @include breakpoint(400px) {
      padding-bottom: 25em;
    }
    @include breakpoint($bp-typography-narrow) {
      padding-bottom: 18em;
    }
    @include breakpoint(720px) {
      flex-basis: calc(#{phi-a(100%)} - 1.5em);
      padding-bottom: 25em;
    }
    @include breakpoint(960px) {
      padding-bottom: 20em;
    }
    @include breakpoint(1400px) {
      padding-bottom: 18em;
    }
    .intro-graphs-caption {
      position: relative;
      font-style: italic;
      top: 34em;
      @include breakpoint(400px) {
        top: 25em;
      }
      @include breakpoint($bp-typography-narrow) {
        top: 18em;
      }
      @include breakpoint(720px) {
        top: 25em;
      }
      @include breakpoint(960px) {
        top: 20em;
      }
      @include breakpoint(1400px) {
        top: 18em;
      }
    }
  }
}
.intro-image {
  margin-bottom: 2em;
  @include breakpoint(720px) {
    flex-basis: calc(#{phi-b(100%)} - 1.5em);
  }

  img {
    border: 1px solid color(black);
  }
}

.intro-image-2 {
  margin-bottom: 2em;
  max-width: 468px;
  img {
    border: 1px solid color(black);
  }
}



.talk--sample-slide {
  margin-bottom: 2em;
  img {
    border: 1px solid color(black);
  }
}

figcaption {
  margin-top: 0.5em;
  font-size: ms(-1);
}

h2 {
  .width-limiter {
    display: block;
    max-width: 20em;
  }
}

.talk {
  clear: both;
  margin-bottom: 6em;
  @include breakpoint(830px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.talk--title {
  flex-basis: 100%;
  //order: 1;
}
@mixin flex-layout--2($column: 1) {
  @if ($column == 1) {
    flex-basis: calc(#{phi-a(100%)} - 1.5em);
  }
  @if ($column == 2) {
    flex-basis: calc(#{phi-b(100%)} - 1.5em);
  }
}
.talk--description-and-events {
  @include flex-layout--2(1);
}
.talk--slides {
  @include flex-layout--2(2);
  &[data-eq-state*='medium'] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.talk--sample-slide {
  flex-basis: calc(50% - 1.5em);
}

.talk--slides-link {
  margin: 1em 0;
  a {
    @include unset-background-links();
    display: inline-block;
    border-bottom: 5px solid color(black);
    padding: 0 1em 0.25em 0;
    font-weight: 800;
    font-style: italic;
    font-size: fontsize-rem(ms(1));
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 0;
      height: 0;
      bottom: -5px;
      right: -0.5em;
      border-width: 0.33em;
      border-style: solid;
      border-color: transparent transparent color(black) color(black);
      transform: skewX(30deg);
      transform-origin: 100% 100%;
    }
  }
}

.talk--video {
  flex-basis: calc(50% - 1.5em);
}
.video-container--youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.talk--description {}
.talk--events {
  ul {
    list-style-type: none;
    padding-left: 0.5em;
    li {
      padding-left: 1em;
      &:before {
        content: "—";
        content: "» ";
        margin-left: -1em;
      }
    }
  }
}
.talk--event {
  margin-bottom: 0.5em;
  @include breakpoint($bp-typography-narrow) {
    font-size: fontsize-rem(ms(1));
  }
}
.talk--event-name {
  font-weight: 600;
}

.talk--reactions {
  margin-top: 2em;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  > * {
    margin-right: 1em;
    flex-basis: 22em;
  }
  .comment {
    margin: 0;
    border: 1px solid color(gray);
    padding: 1em;
    footer {
      color: color(white);
      background: color(black);
      margin: 0 -1em -1em;
      padding: 0.25em 1em 1em;
      a {
        @include link-knockout-underline();
      }
    }
  }
}

.page-content {
  max-width: 1400px;
  margin: 0 auto;
}

figure {
  margin: 0 0 2em;
}


.talk--title {
  border-bottom: 0.25em solid currentColor;
  margin-bottom: 0.5em;
  padding-bottom: 4px;
}
