&lt;!-- Begin Footer --&gt;
&lt;footer class=&quot;page-footer&quot; role=&quot;contentinfo&quot; id=&quot;site-footer&quot;&gt;
  &lt;div class=&quot;footer-content&quot;&gt;
  &lt;div class=&quot;monogram-wrapper&quot; id=&quot;footer-monogram&quot;&gt;{{&gt;molecules-monogram}}&lt;/div&gt;
  &lt;div class=&quot;contact&quot;&gt;
    &lt;div class=&quot;contact-item email&quot;&gt;
      &lt;a href=&quot;mailto:mason@thecodingdesigner.com&quot; class=&quot;icon-link&quot;&gt;{{&gt;atoms-icon-mail}}&lt;/a&gt;
      &lt;a href=&quot;mailto:mason@thecodingdesigner.com&quot;&gt;&lt;span class=&quot;text&quot;&gt;mason@thecodingdesigner.com&lt;/span&gt;&lt;/a&gt;&lt;/div&gt;
    &lt;div class=&quot;contact-item twitter&quot;&gt;
      &lt;a href=&quot;https://twitter.com/codingdesigner&quot; class=&quot;icon-link&quot;&gt;{{&gt;atoms-icon-twitter}}&lt;/a&gt;
      &lt;a href=&quot;https://twitter.com/codingdesigner&quot;&gt;&lt;span class=&quot;text&quot;&gt;@codingdesigner&lt;/span&gt;&lt;/a&gt;&lt;/div&gt;
    &lt;div class=&quot;contact-item instagram&quot;&gt;
      &lt;a href=&quot;https://www.instagram.com/codingdesigner/&quot; class=&quot;icon-link&quot;&gt;{{&gt;atoms-icon-instagram}}&lt;/a&gt;
      &lt;a href=&quot;https://www.instagram.com/codingdesigner/&quot;&gt;&lt;span class=&quot;text&quot;&gt;@codingdesigner&lt;/span&gt;&lt;/a&gt;&lt;/div&gt;
    &lt;div class=&quot;contact-item LinkedIn&quot;&gt;
      &lt;a href=&quot;http://www.linkedin.com/in/masonwendell&quot; class=&quot;icon-link&quot;&gt;{{&gt;atoms-icon-linkedin}}&lt;/a&gt;
      &lt;a href=&quot;http://www.linkedin.com/in/masonwendell&quot;&gt;&lt;span class=&quot;text&quot;&gt;Mason Wendell&lt;/span&gt;&lt;/a&gt;&lt;/div&gt;
  &lt;/div&gt;
&Tab;&lt;div class=&quot;copyright&quot;&gt;
&Tab;&Tab;&lt;p&gt;&amp;copy; 2016 Mason Wendell. All rights reserved.&lt;/p&gt;
&Tab;&lt;/div&gt;
  &lt;/div&gt;
&lt;/footer&gt;

&lt;audio preload=&quot;auto&quot; id=&quot;batman&quot; &gt;
  &lt;source src=&quot;../../../../src/images/audio/batman.mp3&quot;&gt;&lt;/source&gt;
&lt;/audio&gt;
&lt;!-- End Footer --&gt;
