////
/// @group breakpoints
////

// Breakpoint will output fallback selectors in this stylesheet
@include breakpoint-set('no query fallbacks', true);

// Mobile-first queries
// Breakpoint variables are prefixed with "$bp--"
// responsive table
$bp--responsive-table: 500px;

// Breakpoints
///
$bp--global--inline-title: 480px;
///
$bp-typography-narrow: 650px;
///
$bp-relationship-block-horizontal-2-pane: 630px;
///
$bp-relationship-block-horizontal-3-pane: 930px;
///
$bp-relationship-block-pane-1-2: 750px;
///
$bp--columns-2: 1000px;
///
$bp--portfolio-images-small: 600px;
///
$bp--portfolio-images-mid: 800px;
///
$bp--portfolio-images-large: 1200px;
///
$bp--portfolio--show-details: 950px;
///
$bp--portfolio--overview-padding: 400px;
///
$bp--portfolio--details-limit-width: $bp-typography-narrow;
///
$bp--title-curve--shrink: max-width 360px;
///
$bp--navigation--wide: $bp-typography-narrow;
///
$bp--navigation--narrow: max-width ($bp--navigation--wide - 1);
///
$bp--navigation--fully-wide: 740px;
///
$bp--page-speaking-1: 400px;
///
$bp--page-speaking-2: $bp-typography-narrow;
///
$bp--page-speaking-3: 720px;
///
$bp--page-speaking-4: 960px;
///
$bp--page-speaking-5: 1400px;
///
$bp--talk-columns: 830px;
///
$bp--talk-event--wide: $bp-typography-narrow;
