////
/// @group Colors
////

/// Color Palette Maps
/// @type Map
$palettes: (
  red: (
    base: red
  ),
  orange: (
    base: orange
  ),
  yellow: (
    base: yellow
  ),
  green: (
    base: green
  ),
  blue: (
    base: blue
  ),
  indigo: (
    base: indigo
  ),
  violet: (
    base: violet
  ),
  gray: (
    base: grey,
    light: #e5e5e5,
    dark: darkgray
  ),
  white: (
    base: white,
    warm: hsl(48, 20%, 95%),
    transparent: hsla(0, 0%, 100%, 0),
    semitrans: hsla(0, 0%, 100%, 0.15)
  ),
  black: (
    base: black,
    light: hsl(0, 0%, 8%)
  )
);

// Semantic Colors
$color-background: color(white, warm);
$color-text: color(black, light);
//$color-link: color(red);
$heading-color-default: $color-text;
$color-border: color(gray, light);
$color-border-active: color(gray);

// Emphasis Colors
$color-information: color(blue);
$color-success: color(green);
$color-error: color(red);
$color-warning: color(orange);

// Links
$cs--link-a: color(black);
$cs--link-b: color(red);
$cs-link-normal: $cs--link-a;
$cs-link-hover: $cs--link-b;
$cs-link-active: $cs--link-a;
$cs-link-visited: $cs--link-a;
$cs-link-focus: $cs--link-b;
$cs-link-underline-normal: $cs--link-a;
$cs-link-underline-hover: $cs--link-b;
$cs-link-underline-active: $cs--link-a;
$cs-link-underline-visited: $cs--link-a;
$cs-link-underline-focus: $cs--link-b;
//
$cs-link-background-normal: $cs--link-a;
$cs-link-background-hover: $cs--link-b;
$cs-link-background-active: $cs--link-a;
$cs-link-background-visited: $cs--link-a;
$cs-link-background-focus: $cs--link-b;
$cs-link-background-bkg: $color-background;




// Colors for PL
// @todo better solution?
// @todo update with colors from palette
