////
/// @group Settings
////

// Basic layout
//$spacing: 0.5em;
//$gap: 5px;
//$border: solid 1px color(gray);
///
$border-radius: 0.25em;
///
$image-path: '../../../../images/';
///
$side-margin: 0.5rem;
///
$side-margin--wide: 2rem;
///
$navigation-count: 7;
