// Some of the font families have to be renamed to use the proper one once we have the web font provider setup.
//$font--open-sans: 'Open Sans', sans-serif;
//$font--skolar: 'skolar', sans-serif;
//$font--futura: 'futura-pt', sans-serif;

// @todo refactor font names
$font-map: (
  surveyor: #{'Surveyor SSm A', 'Surveyor SSm B', Georgia, serif},
  surveyor-fine: #{'"Surveyor Fine A", "Surveyor Fine B"', Georgia, serif},
  //whitney: #{'Whitney SSm A', 'Whitney SSm B', sans-serif},
  archer: #{'Archer SSm A', 'Archer SSm B', sans-serif},
  adobe-blank: #{'AdobeBlank', sans-serif}
);

//$font-body: font(surveyor);
//$font-body: font(whitney);
$font-body: font(archer);
$font-headline: font(surveyor-fine);
$font--font-awesome: FontAwesome;


// Font size and line-height
$root-typesize: 18px;
$base-font-size: $root-typesize;
$base-line-px: $root-typesize * 1.5;
$base-line-em: em($base-line-px);
$base-line-height: $base-line-px;
$base-line-height-unitless:  unitless-convert($base-line-em);

// Sassy Modular-scale
$ms-base: $root-typesize;
//$ms-ratio: $minor-third $golden;
$ms-ratio: $minor-third;
$ms-ratio: $major-third;
//$ms-ratio: 1.2; // too big?
//$ms-ratio: 1.125;
//$ms-ratio: 1.15;

// Heading sizes
$heading-sizes-narrow: ms(4) ms(2) ms(2) ms(1) ms(0) ms(0);
$heading-line-heights-narrow: 1.1 1.1 1.1 1.3 1.5 1.5;
$heading-sizes: ms(6) ms(5) ms(4) ms(3) ms(2) ms(1);
$heading-line-heights: 1.1 1.1 1.1 1.3 1.5 1.5;


// FOR PL
$font--surveyor: font(surveyor);
$font--surveyor-fine: font(surveyor-fine);
//$font--whitney: font(whitney);
