&lt;section class=&quot;section latest-posts&quot;&gt;
&Tab;&lt;ul class=&quot;post-list&quot;&gt;
    {{#post-teasers}}
      &lt;li class=&quot;post-teaser--li&quot;&gt;{{&gt; molecules-post-teaser }}&lt;/li&gt;
    {{/post-teasers}}
&Tab;&lt;/ul&gt;
&lt;/section&gt;
