{{> organisms-header }}

<!--HOME PAGE CONTENT-->
<div class="page--home page-content">
  <h1 class="page-title">Hi. <span class="my-name">I’m <span class="no-break">Mason Wendell.</span></span></h1>
  {{# intro}}
    {{> organisms-intro}}
  {{/intro}}
  {{>organisms-portfolio-overview}}
  {{>molecules-tweet-rwd-hard}}
</div>

{{> organisms-footer }}
