{{> organisms-header }}

<!--HOME PAGE CONTENT-->
<div class="page--home page-content">
  <h1 class="page-title">Hi. <span class="my-name">I’m <span class="no-break">Mason Wendell.</span></span></h1>
  {{# intro}}
    {{> organisms-intro}}
  {{/intro}}
  <div class="portfolio-overview">
    <h2 class="section-title"><a href="">Portfolio</a></h2>
    <div class="portfolio-overview--item">
      <a href="" class="po-item--link reliefweb">
        <h3 class="po-item--name">UN OCHA Relief Web</h3>
      </a>
    </div>
    <div class="portfolio-overview--item">
      <a href="" class="po-item--link score">
        <h3 class="po-item--name">SCORE</h3>
      </a>
    </div>
  </div>
</div>
