{{> organisms-header }}

<!--SPEAKING PAGE CONTENT-->
<div class="page--speaking page-content">
  <h1>Speaking</h1>
  {{# intro}}
    {{> organisms-intro}}
  {{/intro}}

  {{#talks}}
    {{>organisms-talk}}
  {{/talks}}
</div>
