&lt;h1 class=&quot;page-title&quot;&gt;Fixing H&amp;FJ Font Previews&lt;/h1&gt;
&lt;article class=&quot;page&quot;&gt;
  &lt;div class=&quot;feature-image&quot;&gt;
    &lt;img src=&quot;../../../../src/images/posts/fixing-hfj.png&quot; alt=&quot;HFJ Font Previews&quot; /&gt;
  &lt;/div&gt;
  &lt;p&gt;I&apos;m considering &lt;a href=&quot;http://www.typography.com/&quot;&gt;Hoefler &amp;amp; Frere-Jones webfonts&lt;/a&gt; for a new project. The service looks great but I haven&apos;t signed up yet. This may be different once I&apos;ve paid for something, but for now their &lt;a href=&quot;http://www.typography.com/fonts/knockout/webfonts/&quot;&gt;web preview&lt;/a&gt; kind of sucks. (sorry H&amp;amp;FJ) I want to test my own text before making such a big commitment but they only show their own promo text. To fix that I created a little bookmarklet that adds the &lt;a href=&quot;http://html5doctor.com/the-contenteditable-attribute/&quot;&gt;&apos;contenteditable&apos;&lt;/a&gt; attribute to all the preview spans. Now you can click any of those lines and type whatever you like. It&apos;s been helpful to me. Enjoy. &lt;/p&gt;

  &lt;p&gt;Drag this to your bookmarks:
    &lt;a href=&apos;javascript:(function(e,a,g,h,f,c,b,d)%7Bif(!(f%3De.jQuery)%7C%7Cg&gt;f.fn.jquery%7C%7Ch(f))%7Bc%3Da.createElement(&quot;script&quot;)%3Bc.type%3D&quot;text/javascript&quot;%3Bc.src%3D&quot;http://ajax.googleapis.com/ajax/libs/jquery/&quot;%2Bg%2B&quot;/jquery.min.js&quot;%3Bc.onload%3Dc.onreadystatechange%3Dfunction()%7Bif(!b%26%26(!(d%3Dthis.readyState)%7C%7Cd%3D%3D&quot;loaded&quot;%7C%7Cd%3D%3D&quot;complete&quot;))%7Bh((f%3De.jQuery).noConflict(1),b%3D1)%3Bf(c).remove()%7D%7D%3Ba.documentElement.childNodes%5B0%5D.appendChild(c)%7D%7D)(window,document,&quot;1.3.2&quot;,function(%24,L)%7B%24(%27%5Bclass%5E%3D&quot;waterfall&quot;%5D &gt; span%27).attr(%27contenteditable%27, %27%27)%3B%7D)%3B&apos;&gt;H&amp;amp;FJ Webfont Preview&lt;/a&gt;

    Use on pages like this: &lt;a href=&quot;http://www.typography.com/fonts/knockout/webfonts/&quot;&gt;H&amp;amp;FJ Knockout&lt;/a&gt;&lt;/p&gt;

  &lt;h3&gt;Update&lt;/h3&gt;
  &lt;blockquote class=&quot;twitter-tweet&quot; data-lang=&quot;en&quot;&gt;&lt;p lang=&quot;en&quot; dir=&quot;ltr&quot;&gt;&lt;a href=&quot;https://twitter.com/codingdesigner&quot;&gt;@codingdesigner&lt;/a&gt; Hey, that&amp;#39;s handy! Mind if we borrow that &amp;amp; add something?&lt;/p&gt;&amp;mdash; Hoefler&amp;amp;Co. (@HoeflerCo) &lt;a href=&quot;https://twitter.com/HoeflerCo/status/355074391916285952&quot;&gt;July 10, 2013&lt;/a&gt;&lt;/blockquote&gt;
  &lt;script async src=&quot;//platform.twitter.com/widgets.js&quot; charset=&quot;utf-8&quot;&gt;&lt;/script&gt;
  &lt;footer class=&quot;footer-date&quot;&gt;
    Posted on Wednesday, July 10th, 2013    &lt;/footer&gt;
&lt;/article&gt;

