&lt;nav class=&quot;portfolio-navigation&quot;&gt;
  &lt;h2 class=&quot;section-title&quot;&gt;Portfolio&lt;/h2&gt;
  &lt;ul class=&quot;pn--nav-list&quot;&gt;
    &lt;li class=&quot;pn--nav-list-item&quot;&gt;
      &lt;a href=&quot;../..{{ link.pages-portfolio-item }}&quot; class=&quot;pn--nav-list-item--link&quot;&gt;
        &lt;div class=&quot;pn--nav-list-item--image&quot;&gt;&lt;img src=&quot;../../../../src/images/portfolio/score/score-home-thumb.png&quot; alt=&quot;SCORE&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;pn--nav-list-item--name&quot;&gt;SCORE&lt;/div&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;pn--nav-list-item&quot;&gt;
      &lt;a href=&quot;../..{{ link.pages-portfolio-item-reliefweb-crisis }}&quot; class=&quot;pn--nav-list-item--link&quot;&gt;
        &lt;div class=&quot;pn--nav-list-item--image&quot;&gt;&lt;img src=&quot;../../../../src/images/portfolio/reliefweb-crisis/reliefweb-crisis-thumb.png&quot; alt=&quot;UN OCHA ReliefWeb Crisis Page&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;pn--nav-list-item--name&quot;&gt;UN OCHA ReliefWeb&lt;/div&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;pn--nav-list-item&quot;&gt;
      &lt;a href=&quot;../..{{ link.pages-portfolio-item-sassconf-2014 }}&quot; class=&quot;pn--nav-list-item--link&quot;&gt;
        &lt;div class=&quot;pn--nav-list-item--image&quot;&gt;&lt;img src=&quot;../../../../src/images/portfolio/sassconf-2014/sassconf-2014-home-thumb.png&quot; alt=&quot;SassConf 2014&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;pn--nav-list-item--name&quot;&gt;SassConf 2014&lt;/div&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;pn--nav-list-item&quot;&gt;
      &lt;a href=&quot;../..{{ link.pages-portfolio-item-thinking-box }}&quot; class=&quot;pn--nav-list-item--link&quot;&gt;
        &lt;div class=&quot;pn--nav-list-item--image&quot;&gt;&lt;img src=&quot;../../../../src/images/portfolio/thinking-box/thinking-box-thumb.png&quot; alt=&quot;Thinking Inside the Box Inside the Box Inside the Box&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;pn--nav-list-item--name&quot;&gt;Thinking Inside the Box&lt;/div&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;pn--nav-list-item&quot;&gt;
      &lt;a href=&quot;../..{{ link.pages-portfolio-item-mac }}&quot; class=&quot;pn--nav-list-item--link&quot;&gt;
        &lt;div class=&quot;pn--nav-list-item--image&quot;&gt;&lt;img src=&quot;../../../../src/images/portfolio/mac/mac-home-thumb.png&quot; alt=&quot;MAC Cosmetics&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;pn--nav-list-item--name&quot;&gt;MAC Cosmetics&lt;/div&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;pn--nav-list-item&quot;&gt;
      &lt;a href=&quot;../..{{ link.pages-portfolio-item-estee }}&quot; class=&quot;pn--nav-list-item--link&quot;&gt;
        &lt;div class=&quot;pn--nav-list-item--image&quot;&gt;&lt;img src=&quot;../../../../src/images/portfolio/estee/estee-home-thumb.png&quot; alt=&quot;Est&eacute;e Lauder&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;pn--nav-list-item--name&quot;&gt;Est&eacute;e Lauder&lt;/div&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;pn--nav-list-item&quot;&gt;
      &lt;a href=&quot;../..{{ link.pages-portfolio-item-usa }}&quot; class=&quot;pn--nav-list-item--link&quot;&gt;
        &lt;div class=&quot;pn--nav-list-item--image&quot;&gt;&lt;img src=&quot;../../../../src/images/portfolio/usa/usa-home-thumb.png&quot; alt=&quot;USA Network&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;pn--nav-list-item--name&quot;&gt;USA Network&lt;/div&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;pn--nav-list-item&quot;&gt;
      &lt;a href=&quot;../..{{ link.pages-portfolio-item-marsalis }}&quot; class=&quot;pn--nav-list-item--link&quot;&gt;
        &lt;div class=&quot;pn--nav-list-item--image&quot;&gt;&lt;img src=&quot;../../../../src/images/portfolio/marsalis/marsalis-home-thumb.png&quot; alt=&quot;Marsalis Music&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;pn--nav-list-item--name&quot;&gt;Marsalis Music&lt;/div&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;pn--nav-list-item&quot;&gt;
      &lt;a href=&quot;../..{{ link.pages-portfolio-item-ars-nova }}&quot; class=&quot;pn--nav-list-item--link&quot;&gt;
        &lt;div class=&quot;pn--nav-list-item--image&quot;&gt;&lt;img src=&quot;../../../../src/images/portfolio/ars-nova/ars-nova-home-thumb.png&quot; alt=&quot;Ars Nova Workshop&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;pn--nav-list-item--name&quot;&gt;Ars Nova Workshop&lt;/div&gt;
      &lt;/a&gt;
    &lt;/li&gt;
    &lt;li class=&quot;pn--nav-list-item&quot;&gt;
      &lt;a href=&quot;../..{{ link.pages-portfolio-item-rosenbach }}&quot; class=&quot;pn--nav-list-item--link&quot;&gt;
        &lt;div class=&quot;pn--nav-list-item--image&quot;&gt;&lt;img src=&quot;../../../../src/images/portfolio/rosenbach/rosenbach-home-thumb.png&quot; alt=&quot;Rosenbach Museum and Library&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;pn--nav-list-item--name&quot;&gt;Rosenbach Museum and Library&lt;/div&gt;
      &lt;/a&gt;
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/nav&gt;
