{{&gt; organisms-header }}
&lt;div class=&quot;page--portfolio page-content&quot;&gt;
  {{&gt; organisms-portfolio-navigation }}
  {{&gt; molecules-portfolio-item }}
&lt;/div&gt;
{{&gt; organisms-footer }}
